@css {
/*  HTML5 ✰ Boilerplate  */
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video  
	background transparent
	border 0
	font-size 100%
	margin 0
	outline 0
	padding 0
	vertical-align baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  
	display block

nav ul  
	list-style none 

a  
	background transparent 
	font-size 100%
	margin 0
	padding 0
	vertical-align baseline

a,
a *,
label,
button
	cursor pointer

p
	margin 0 0 0.9em

ins  
	background-color #ff9
	color #000
	text-decoration none 

del  
	text-decoration line-through 

abbr[title], dfn[title]  
	border-bottom 1px dotted
	cursor help 

table  
	border-collapse collapse
	border-spacing 0 

hr  
	border-top 1px solid #ccc
	display block
	height 1px border 0
	margin 1em 0
	padding 0 

//input,
//select  
//	vertical-align middle

body
	font 12px/1.231 sans-serif

select,
input,
textarea,
button  
	font 99% sans-serif 

pre,
code,
kbd,
samp  
	font-family monospace, sans-serif 

body,
select,
input,
textarea  
	color #444 

h1,
h2,
h3,
h4,
h5,
h6  
	font-weight bold
	font-size 1.2em
	margin-bottom 0.65em

html  
	overflow-y  scroll 

a:hover,
a:active  
	outline none 

ul,
ol  
	margin-left 1.8em

nav ul,
nav li  
	margin 0 

small  
	font-size 85% 

strong,
th  
	font-weight bold 

td,
td img  
	vertical-align top 


sub  
	vertical-align sub
	font-size smaller 

sup  
	vertical-align super
	font-size smaller 

pre  
	padding 15px
	white-space pre
	white-space pre-wrap
	white-space pre-line
	word-wrap break-word 

textarea  
	overflow auto 

.ie6 legend,
.ie7 legend  
	margin-left -7px 

//input[type="radio"]
//	vertical-align  text-bottom 

//input[type="checkbox"]  
//	vertical-align  middle 

.ie7 input[type="checkbox"]  
	vertical-align  baseline 

.ie6 input  
	vertical-align  text-bottom 

input[type="radio"],
input[type="checkbox"]
	width auto !important

input.radio,
input.checkbox
	border 0 !important
	padding 0 !important
	width auto !important

button,
input,
select,
textarea  
	margin  0 

input:valid,
textarea:valid
	// empty

input:invalid,
textarea:invalid
	border-radius 1px
	-moz-box-shadow 0px 0px 5px red
	-webkit-box-shadow 0px 0px 5px red
	box-shadow  0px 0px 5px red 

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid  
	background-color  #f0dddd 

::-moz-selection 
	background #999
	color #fff
	text-shadow none 

::selection  
	background #999
	color #fff
	text-shadow none 

a:link  
	-webkit-tap-highlight-color #999 

button  
	overflow visible 
	width auto

.ie7 img
	-ms-interpolation-mode bicubic 

blockquote
	font-style italic
	font-size 1.2em
	padding 0 2em