@css {
/*  CSS3 ✰ Icons  */
@font-face {
	font-family: 'IcoMoon';
	src: url('../icomoon/fonts/IcoMoon.eot');
	src: url('../icomoon/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../icomoon/fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('../icomoon/fonts/IcoMoon.woff') format('woff'),
		url('../icomoon/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon] {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
icomoon()
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;

.icomoon
	icomoon()

.icon-untitled,
.icon-fullscreen
	&:before
		icomoon()
		content: "\2a";

.icon-untitled-2,
.icon-add
	&:before
		icomoon()
		content: "\2b";

.icon-untitled-3,
.icon-progress
	&:before
		icomoon()
		content: "\30";

.icon-untitled-4,
.icon-up
	&:before
		icomoon()
		content: "\3a";

.icon-untitled-5,
.icon-down
	&:before
		icomoon()
		content: "\3b";

.icon-untitled-6,
.icon-prev
	&:before
		icomoon()
		content: "\3c";

.icon-untitled-7,
.icon-next
	&:before
		icomoon()
		content: "\3e";

.icon-untitled-8,
.icon-rss
	&:before
		icomoon()
		content: "\42";

.icon-untitled-9,
.icon-tag
	&:before
		icomoon()
		content: "\2c";

.icon-untitled-10,
.icon-remove
	&:before
		icomoon()
		content: "\2d";

.icon-untitled-11,
.icon-photo
	&:before
		icomoon()
		content: "\49";

.icon-untitled-12,
.icon-heart-blank
	&:before
		icomoon()
		content: "\4f";

.icon-untitled-13,
.icon-heart-full
	&:before
		icomoon()
		content: "\4e";

.icon-untitled-14,
.icon-search
	&:before
		icomoon()
		content: "\4c";

.icon-untitled-15,
.icon-clock
	&:before
		icomoon()
		content: "\50";

.icon-untitled-16,
.icon-settings
	&:before
		icomoon()
		content: "\53";

.icon-untitled-17,
.icon-profile
	&:before
		icomoon()
		content: "\55";

.icon-untitled-18,
.icon-warning
	&:before
		icomoon()
		content: "\57";

.icon-untitled-19,
.icon-logout
	&:before
		icomoon()
		content: "\58";

.icon-untitled-20,
.icon-comment-square
	&:before
		icomoon()
		content: "\63";

.icon-untitled-21,
.icon-facebook
	&:before
		icomoon()
		content: "\66";

.icon-untitled-22,
.icon-googleplus
	&:before
		icomoon()
		content: "\67";

.icon-untitled-23,
.icon-login
	&:before
		icomoon()
		content: "\22";

.icon-untitled-24,
.icon-github
	&:before
		icomoon()
		content: "\23";

.icon-untitled-25,
.icon-css3
	&:before
		icomoon()
		content: "\24";

.icon-untitled-26,
.icon-share
	&:before
		icomoon()
		content: "\26";

.icon-untitled-27,
.icon-resize
	&:before
		icomoon()
		content: "\27";

.icon-untitled-28,
.icon-left
	&:before
		icomoon()
		content: "\28";

.icon-untitled-29,
.icon-right
	&:before
		icomoon()
		content: "\29";

.icon-untitled-30,
.icon-complete
	&:before
		icomoon()
		content: "\2f";

.icon-untitled-31,
.icon-star
	&:before
		icomoon()
		content: "\52";

.icon-untitled-32,
.icon-email
	&:before
		icomoon()
		content: "\40";

.icon-untitled-33,
.icon-archive
	&:before
		icomoon()
		content: "\5a";

.icon-untitled-34,
.icon-view
	&:before
		icomoon()
		content: "\21";

.icon-untitled-35,
.icon-attachment
	&:before
		icomoon()
		content: "\31";

.icon-untitled-36,
.icon-twitter
	&:before
		icomoon()
		content: "\32";

.icon-untitled-37,
.icon-html5
	&:before
		icomoon()
		content: "\33";

.icon-untitled-38,
.icon-reload
	&:before
		icomoon()
		content: "\25";

.icon-untitled-39,
.icon-zoom-in
	&:before
		icomoon()
		content: "\f00e";

.icon-untitled-40,
.icon-zoom-out
	&:before
		icomoon()
		content: "\f010";

.icon-untitled-41,
.icon-trash
	&:before
		icomoon()
		content: "\f014";

.icon-untitled-42,
.icon-calendar
	&:before
		icomoon()
		content: "\f073";

.icon-untitled-43,
.icon-comment-bubbles
	&:before
		icomoon()
		content: "\f086";

.icon-untitled-44,
.icon-home
	&:before
		icomoon()
		content: "\f015";

