@css {
/* L4C.me */
@import url("zocial/zocial.css");
}
@import "classes"
@import "reset"
// @import "boilerplate"

body
	background #242c33
	color #333
	// min-width 1000px

// #overflow
// 	overflow hidden

hr
	background url(images/bg_hr.png) repeat-x left bottom
	border 0
	clear both
	margin 25px 0
	height 1px
	overflow hidden
	width 100%

	&.gray
		background-image url(images/bg_hr_gray.png)

h1, h2, h3, h4, h5, h6
	color #0a92ca

a
	border-bottom 2px solid #80c4e0
	color #0a92ca

	&.gray
		border-color #ccc
		color #999

input, textarea
	&:focus, &:active
		border-color #FF9933
		outline 0

a.button
	display inline-block

button
a.button
	// background #FF9933 url(images/icon_comments_white.png) no-repeat 90% 50%
	background #FF9933 no-repeat
	border 0
	color #fff
	cursor pointer
	font bold 12px/1 Helvetica, Arial, sans-serif
	// height 25px
	// line-height 25px
	// padding 0 35px 0 10px
	padding 6px 10px
	border-radius()
	transition()

	// &:after
	// 	content: "|"
	// 	font-size 16px
	// 	color #FFC993
	// 	height 20px
	// 	margin-left 8px
	// 	overflow hidden
	// 	width 0
	
	&:hover, &:focus
		background-color lighten( #ff9933, 10% )

	&:focus
		outline	0
		box-shadow( unquote("inset 0 0 0 1px #fff, 0 0 0 1px #FF9933") )

	&.blue
		background-color #009ccf // darken( #00B8F4, 15% )

		&:hover, &:focus
			background-color #00a6dc // darken( #00B8F4, 10% )

		&:focus, &.focus
			box-shadow( unquote("inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc") )

	&.gray
		background-color #999

		&:hover, &:focus
			background-color darken( #999, 10% )

		&:focus, &.focus
			box-shadow( unquote("inset 0 0 0 1px #fff, 0 0 0 1px " + darken( #999, 10% )) )

.zocial.disabled
	cursor default
	opacity 0.5

.wrap
	margin 0 auto
	position relative
	// max-width 1250px
	max-width 1475px
	// min-width 1000px
	// width 90%

#header
	background #00b8f4
	// color #fff
	min-height 60px
	position relative
	z-index 3

	.wrap
		clearfix()

	&, a
		border 0
		color #fff

	#logo
		height 49px
		left 15px
		margin 0
		position absolute
		top 5px
		width 96px

		a
			ir()
			text-indent 0

	#nav-aside
		float right
		font-size 1.2em
		width 720px
		width 75%
	
	nav
		float left
		height 30px
		line-height 30px
		padding-top 15px

		ul.menu
			list-style none
			margin 0
			padding 0
		
		ul.menu, ul.menu > li, ul.menu > li > a
			float left
			height 30px
		
		ul.menu > li
			margin-right 5px
			
			> a
				padding 0 10px
				text-decoration none
				border-radius( 5px )
				transition()
			
			> a:hover,
			&.active > a
				background #0a93ca
			
	
	aside
		float right
		margin-right 10px
		padding 18px 5px 0 0
		height 25px
		line-height 25px
		position relative

		a
			text-decoration none
		
		a.username
			border-bottom 2px solid #80dcfa
			
			&:hover
				border-color #fff
		
		a.profile, a.logout
			background none no-repeat 90% 50%
			display inline-block
			height 25px
			margin 0 3px
			padding 0 25px 0 10px
			border-radius( 5px )
			
			&:after
				content: "|"
				font-size 16px
				color #37cdff
				height 20px
				margin-left 8px
				overflow hidden
				width 0
		
		a.profile
			background-color #c2ecfc
			background-image url(images/icon_profile.png)
			color #0a93ca
		
		a.logout
			background-color #0a93ca
			background-image url(images/icon_logout.png)
			color #c2ecfc

#header-login
	&.active
		#header-login-trigger
			border-radius( 5px 5px 0 0 )

		form.login
			left auto
			opacity 1
			right 0
			top 47px

	form.login
		background #F7F7F7
		border-radius( 0 0 5px 5px )
		box-shadow( 0 0 5px rgba(#000, 0.5) )
		box-sizing border-box
		left -9999px
		opacity 0
		padding 15px
		position absolute
		top -9999px
		width (180px + 15) + (180px + 16) + 30
		transition( opacity .150s linear )

	input
		font-size 1em
		padding 5px
		width 165px

	legend
		font-size 1em
		font-weight bold
		line-height 1
		margin 0 0 10px


	span.bg
	span.topbar
		background #00B8F4
		height 5px
		left 0
		position absolute
		right 0
		top -5px

	span.topbar
		background #FF9933
		left 0
		right 0

	.fields button
		font-size 1em

	.social
		padding 0 0 0 15px
		// width 395px
		width 180px

		p
			margin 0
	
	.zocial
		font-size 1em
		margin 5px 0
		width 160px

		&:before
			width 15px

	.register
		margin 15px 0 0
		padding 0

fieldset
	border 0

legend
	color #666
	font-size 1.2em
	margin 0
	padding 0 0 1em
	text-align center

#header-login
form.login
	a.forgot
	a.close
	a.login
		color #666
		border-bottom 2px solid #ccc

form.login
	margin 0 auto
	width 325px + 15 + 500 + 16 + 30

	legend
		width 180px

	label
		display block
		padding 5px

	input
		margin 0
		font-size 1.2em
		padding 0.75em
		width 300px

		&[type="checkbox"]
			margin-right 5px
			width auto

	// hr
	// 	background-image url(images/bg_hr_gray.png)
	// 	display none

	.fields
		float left
		margin 0
		padding 0

		p.buttons
			text-align right

		a.forgot
			margin-right 10px

		button
			font-size 1.2em

	.zocial
		font-size 1.2em
	
	.social
		background url(images/bg_vr_gray.png) repeat-y left top
		float right
		margin 0
		padding 0 0 15px 15px
		text-align center
		width 500px

		p
			margin 0 0 20px

		a
			border 0
			display inline-block
			margin 5px

			&.disabled
				margin 0 10px

		img
			vertical-align bottom

	.register
		// margin 15px 0 0
		padding 35px 0 50px
		text-align center

		p
			margin 0

		a.button
			font-size 1.4em
			margin-right 25px
			padding 0.5em 1em

form.register hr
	margin 25px 0

form.profile
	margin 0 auto
	padding 0 350px 0 150px
	width 215px

	.gravatar
		float left
		margin 0 0 0 -150px
		text-align center

		p.img
			background #ddd
			margin 0 0 5px

			a
				border 0

		img
			height 125px
			vertical-align bottom
			width 125px

	.fields
		list-style none
		margin 0
		padding 0

		input
			margin 0.5em 0 0

	li
		margin 0 0 15px
		position relative

	input
	textarea
		width 200px

	.info
		font-size 0.9em
		position absolute
		right -350px
		top 1.7em
		width 325px

	.cancel
		display block
		margin 5px 5px 0 0
		text-align right

	.zocial
		box-sizing border-box
		text-align left
		width 100%

		&:before
			width 18px


.message
	background lighten(#F93, 90%)
	border 1px solid lighten(#F93, 50%)
	padding 10px
	margin 10px auto 35px
	text-align center

	.error
		background lighten(red, 90%)
		border-color lighten(red, 50%)

#footer
	background #242c33
	padding 13px
	position relative
	text-align center
	z-index 1

	&, a
		border 0
		color #fff

	ul
		height 37px
		list-style none
		margin 0
		padding 0
	
	li
		display inline-block
		height 37px
		line-height 37px
		margin 0 0 0 18px
		vertical-align middle
	
	a
		background none no-repeat left center
		display inline-block
		height 16px
		line-height 16px
		padding-left 20px
		text-decoration none
		vertical-align middle
	
	a:hover
		text-decoration underline
	
	#claborg
		margin 0

		a
			ir()
			// background-image url("http://www.cristalab.com/images/general/label-cristalab-org.png")
			display inline-block
			height 37px
			padding 0
			width 136px
	
	// #cristalab a
	// 	background-image url("http://www.cristalab.com/images/icons/icon-logo.png")
	// 
	// #l4c a
	// 	background-image url("http://www.cristalab.com/images/icons/l4c.png")
	// 
	// #tiaxime a
	// 	background-image url("http://www.cristalab.com/images/icons/tiaxime.png")
	// 
	// #dotgaia a
	// 	background-image url("http://www.cristalab.com/images/icons/dotgaia.png")
	// 
	// #p3 a
	// 	background-image url("http://www.cristalab.com/images/icons/p3.png")

#inner
	background #fff
	position relative
	z-index 2

#wrap
	margin 0 auto
	max-width 1475px
	padding 25px

#message
	background #ffc68c
	border 2px solid #ff9a35
	color #fff
	font-size 20px
	margin 0 0 25px
	padding 10px 45px
	position relative
	text-align center
	border-radius( 5px )
	clearfix()
	//text-shadow( 1px 1px 5px rgba(#000, 0.15) )

	a
		border 0
		color #fff

	a.more
		border-bottom 2px solid #fff
		margin-left 10px
		text-decoration none

	a.close
		ir()
		background-image url(images/icon_message_close.png)
		height 22px
		position absolute
		margin-top -11px
		right 10px
		top 50%
		width 22px

#breadcrumb
	height 45px
	line-height 45px
	margin 0 0 25px
	position relative
	
	h1
		color #0a93ca
		float left
		font-size 2em
		margin 0 30px 0 0


	ul
		//float left
		list-style none
		margin 0
		padding 0
		clearfix()
		
		li
			background url(images/sep_blue.png) no-repeat left center
			float left
			padding 0 10px 0 17px

			&:first-child
				background none
				padding-left 10px
		
		a
			border-bottom 2px solid #84c9e4
			color #0a93ca

		li.active a
			border-color #ffd6ae
			color #ffae5e

#upload
	background none
	height 45px
	line-height 45px
	margin 0
	padding 0 !important
	
	a
		background #ff9933
		border 0 !important
		color #fff !important
		display inline-block
		font-size 22px
		font-weight bold
		padding 0 24px
		border-radius( 5px )
		transition()

		&:hover
			background-color lighten( #ff9933, 10% )

#breadcrumb #upload
	float right !important

#sidebar #upload
	float none !important
	margin 0 -10px 40px 0
	text-align right

.pagination
	font-weight bold
	height 30px
	line-height 30px
	text-align center

	li, span, a
		display inline-block
		height 30px
		vertical-align middle
	
	li, span
		padding-left 1px
	
		&:first-child
			padding 0
		
		&.sep
			color #999
			letter-spacing 1px
			width 22px
	
	a
		background #999
		color #fff
		border 0
		padding 0 8px

		transition()

		&:hover
			background-color lighten( #999, 10% )
	
		&.prev, &.next
			background #ff9933 none no-repeat

			&:hover
				background-color lighten( #ff9933, 10% )
		
		&.prev
			background-image url(images/icon_prev.png)
			background-position 18% 50%
			padding 0 15px 0 40px
			border-radius( 30px 0 0 30px )
		
		&.next
			background-image url(images/icon_next.png)
			background-position 86% 50%
			padding 0 40px 0 15px
			border-radius( 0 30px 30px 0 )
		
		&.disabled, &.disabled:hover
			background-color #ccc
			cursor default
		
		&.active
			background-color #00b8f4
			cursor default
			font-size 1.2em

#content
	//outline 1px solid red

.grid
	list-style none
	margin 20px auto 0
	padding 0
	text-align center
	clearfix()

	li
		display inline-block
		height 188px
		margin 15px
		width 178px
		vertical-align middle
	
	a
		color inherit
		border 0
	
	div.img
		display inline-block
	
		a, img
			display inline-block
			//outline 1px solid red
			position relative
			vertical-align middle
		
		img
			border 4px solid #fff
			display inline-block
			transition()

	span.icon-zoom
		background rgba(#FF9933, 0.8) url(images/icon_zoom.png) no-repeat center
		bottom 4px
		height 36px
		opacity 0
		position absolute
		right 4px
		width 36px
		transition()
	
	div.info
		color #333
		padding 5px 0 0 0
		clearfix()

		span.photo-name,
		a.comments
			display inline-block
			vertical-align middle
	
	a.comments
		ir()
		background url(images/icon_comments.png) no-repeat center
		border-left 1px solid #ccc
		height 18px
		margin-left 5px
		opacity 0
		width 0
		transition()
	
	li:hover
		.img img
			border-color #ccc

		span.icon-zoom
			opacity 1
		
		a.comments
			opacity 1
			width 35px

#container
	margin 0 auto
	position relative
	// width 1000px
	width auto

// body.liquid, body.gallery
// 	#container
// 		width auto

#content-sidebar-wrap
	max-width 1475px
	clearfix()

	#content
	#comments
		float left
		padding-left 10px
		width 560px
	
	.pagination
		padding-top 15px
		margin-bottom 10px
		text-align right
		
		a
			vertical-align bottom
	
	/*
	.pagination
		padding-top 20px
		text-align right

		&, a
			height 25px
			line-height 25px
		
		.prev, .next
			border-radius 0
	*/

	#sidebar
		float right
		padding-right 14px
		width 336px

		.icon-rss
			ir()
			background url(images/icon_rss.png) no-repeat
			border 0
			float right
			height 22px
			width 22px
			transition()

			&:hover
				opacity 0.85
		
		.grid
			list-style none
			margin 0
			padding 0

			li
				float left
				height 75px
				margin 0 0 18px 18px
				padding 0
				position relative
				width 100px

				&:nth-child( 3n+1 )
					clear left
					margin-left 0
			
			a
				background #000
				border 0

				&:hover img
					opacity 0.75
			
			a, img
				display block
			
			img
				transition()
			
			.icon-zoom
				background-color transparent
				bottom auto
				height 100%
				left 0
				right auto
				top 0
				width 100%
		
.tags
	color #0a92ca

.info
	font-style italic
	color #999

.edit-link
	border 0
	color #FF9933


.widget
	margin-bottom 2.5em

.widget-content
	background #f6f6f6
	border 2px solid #E8E8E8
	padding 20px
	border-radius()

#img-info
	@extends .clearfix
	background darken(#00B8F4, 25%)
	padding 10px 25px

	&
	a
	h1
		color #fff

	h1
	p
		margin 0

	.photo-author
		line-height 20px

	.gravatar
		border 0

	img
		height 20px
		margin-left 3px
		vertical-align middle
		width 20px

	.photo-info
		background darken(#00B8F4, 15%)
		border-radius()
		bottom 0
		padding 10px
		position absolute
		right 0

		> span
		> a
			border 0
			display inline-block
			padding-left 15px
			margin-left 5px

			&:first-child
				margin-left 0

#img
	background #333
	border-bottom 1px solid #333
	border-top 1px solid #333
	margin-bottom 25px
	overflow hidden
	padding 0 10px
	position relative
	text-align center

	a
		border 0
	
	.img
		box-shadow( 0 0 50px #222 )
		display inline-block
		position relative

	img
		height auto
		max-width 100%
		vertical-align bottom
	
	.icons
		bottom 0
		position absolute
		right 0

		a
			background rgba(#FF9933, 0.8) none no-repeat center center
			display inline-block
			height 25px
			margin-left 5px
			vertical-align bottom
			width 30px
		
		.icon-zoom
			background-image url(images/icon_zoom.png)
		
		.icon-edit
			background-image url(images/icon_edit.png)

	.pagination
		height 0

		a
			background none
			height 50%
			outline 1px dotted #fff
			overflow hidden
			padding 0
			position absolute
			text-indent -9999px
			top 25%
			width 90px

		.prev
			left -105px

		.next
			right -105px

.img-info
	//padding-bottom 15px

	p
		font-size 1.2em

	.img-description.no-description:before
		content "Sin descripción"
		color #999
		display block
		font-style italic

#social-bar
	background url(images/social.png) no-repeat
	font-size 10px
	height 145px
	left -55px
	position absolute
	text-align right
	top 55px
	width 50px


#comments
	float none

	h2
		float left

#leave-comment-link
	float right

div.comments
	// padding 0 15px

	article
		@extends .clearfix
		border 1px solid #ddd
		border-radius 5px
		margin-bottom 1em
		padding 1em 1em 0 75px
		position relative

	.gravatar
		float left
		margin-left -63px
		margin-top -2.25em

		a
			border 0

		img
			background #ddd
			border-radius 5px
			height 50px
			width 50px

	.comment-author a
		color #333
		border-color #999

	.comment-date
		color #666
		font-size 0.9em
		// margin-left 0.5em

	form
		background #F7F7F7
		border 2px solid #FBE3CC
		// padding 25px 30px 15px
		padding 15px 20px 5px
		border-radius()
	
		input, textarea
			margin 0

		textarea
			.logged-in &
				box-sizing border-box
				height 150px
				width 100%
		
		// p
		// 	font-size 1.2em
		
		label
			color #666
			font-weight normal
			line-height 2
	
	.col
		box-sizing border-box

	.col-1
		float left
		padding-right 10px
		width 40%
	
	.col-2
		float right
		padding-left 10px
		width 60%

	input
	textarea
		box-sizing border-box
		width 100%

	.buttons
		@extends .clearfix
		clear both
		text-align right

		button
			float right
			font-size 1.25em

		a
			line-height 2.5
			margin-right 1.2em
	
body.single
	#wrap
		padding-top 0

	// #container
	// 	width 1000px

	#content-sidebar-wrap nav.pagination
		float right
		margin 0
		padding 0

	#sidebar #upload
		text-align center

body.sizes
	// #container
	// 	width 970px
	
	#breadcrumb
		margin-bottom 10px

		ul
			float right
			font-size 1.2em
	
	.img-info
		padding 10px 15px

body.upload
	#inner
		background #fff url(images/bg_upload.png) no-repeat center bottom
	
	#content-sidebar-wrap #content
		float none
		margin 40px auto
		width 520px

		form p
			clearfix()

	label
		color #0A92CA
		float left
		font-size 1.2em
		margin-right 20px
		text-align right
		width 95px
		
		em
			color #999
			display block
			font-size 0.8em
			font-weight normal
	
	input, textarea
		float left
	
	input
		width 235px
	
	textarea
		height 135px
		width 380px

	#upload-placeholder-container,
	#upload-file-container
		color #0A92CA
		//font-size 14px
		margin-bottom 1em
		padding-left 115px
		clearfix()

		label
			margin-left -115px
		
		p
			font-size 1.2em

	#upload-placeholder
		border 2px dashed #FF9933
		color #999
		display block
		font-size 18px !important
		padding 45px
		text-align center
		width 270px
		border-radius()
	
	#upload-file-container
		input
			float none
	
	.help
		background url(images/icon_help.png) no-repeat
		cursor pointer
		display inline-block
		height 18px
		margin 5px 0 0 10px
		position relative
		overflow hidden
		width 18px

		&:hover
			overflow visible
			.popup
				left -15px
				bottom 25px
				opacity 1
	
		.popup
			background #FF9933
			bottom -9999px
			color #fff
			cursor default
			font-style italic
			font-size 0.9em
			left -9999px
			opacity 0
			padding 5px
			position absolute
			width 125px
			border-radius()
			transition()
			transition-property( opacity )
	
	p.buttons
		background url(images/bg_shadow.png) no-repeat center top
		margin 25px 0 0
		padding 40px 0 0
		text-align center

		button
			background-image url(images/icon_submit.png)
			background-position 80% 50%
			height 45px
			font-size 24px
			padding 0 35px 0 0
			width 155px

			&:after
				content ""
				display none

#github
	padding-bottom 20px
	text-align center

	a
		color #ccc
		border-color #666