hidden()
	display none !important

@media only screen and (max-width: 640px)
	html
		-webkit-text-size-adjust none

	#header-upload a.upload
		font-size 1em
		line-height 30px
		margin-top 5px

	#wrap
		padding 0

	#container
		padding-bottom 25px

	#debug
		display none

	#breadcrumb
		line-height 1
		padding 25px 15px 0

		h1
			float none
			margin 0 0 0.5em

		li:first-child
			padding-left 0

	nav.pagination
		font-size 1em

		span
			display none

		span.prev
		span.next
			display inline-block

	.grid
		li
			margin 0.5%
			min-height 0
			width 150px

		div.img
			line-height 1

		img
			max-width 142px

		.info
			hidden()
			line-height 1
			font-size 11px

		.comments
			hidden()

	#footer
		ul
			height auto

		li
			display block
			height auto
			line-height 16px
			margin 0 0 1em

			a
				margin 0 !important

		#claborg
			margin 0 auto 15px

