#debug
	padding 2px 5px
	text-align center
	background #ccc

hidden()
	display none !important

@media only screen and (max-width: 400px)
	body.logged-in #header-upload a.upload
		&:before
			margin 0
		
		span
			hidden()

@media only screen and (max-width: 640px)
	#comments-form
		.col
			float none
			width auto
		.col-2
			padding 0

		.buttons
			text-align center
			
			button
				float none

	body.upload
	body.single-edit
		#content-sidebar-wrap #content
			margin 0
			width auto

		label
		#upload-placeholder-container label
		#upload-file-container label
			float none
			display block
			margin 0
			text-align left
			width auto

		#upload-file-container
			padding 0
			margin 0

		#upload-file-container
		p.name
		p.description
			margin-left auto
			margin-right auto
			max-width 400px
			width 100%

		.name
			margin-bottom 1.5em

		.description
			label br + br
				display none
			em
				margin-bottom 0.75em

		input
		textarea
			box-sizing border-box
			margin 0
			max-width 400px
			width 100%

		.name em
			display inline


@media only screen and (max-width: 960px)
	html
		-webkit-text-size-adjust none

	#header-upload a.upload
		font-size 1em
		line-height 30px
		margin-top 5px

	#wrap
		padding 0 !important

	#breadcrumb
		line-height 1
		padding 25px 15px 0

		h1
			float none
			margin 0 0 0.5em

		li:first-child
			padding-left 0

	nav.pagination
		font-size 1em

		span.list
			display none
		
		span.of
			display inline-block
			font-weight normal
			color #999
			padding 0 10px

		span.prev
		span.next
			display inline-block

	.grid
		li
			margin 0.5%
			width 150px

		div.img
			line-height 1

		img
			max-width 142px

		.info
			hidden()
			line-height 1
			font-size 11px

		.comments
			hidden()

	a.zocial.disabled
		display none

	#comments
		padding 15px

		hr
			display none

	.img-info p
		font-size 1em

	.img-description
		background url(images/bg_hr.png) repeat-x left bottom
		padding 15px 15px 11px


	fieldset
		margin 0

	#comments-form
		// margin 0 auto
		// max-width 560px
		
		legend
			font-size 1em
			padding 0

		fieldset
			margin 0 auto
			max-width 516px

		fieldset.social legend
			padding 0 0 1em

		hr
			display block
			margin 15px 0

		p
			margin 0 0 0.25em

		.buttons
			padding .35em .625em .75em

	#content h1
	#sidebar
		hidden()

	#content-sidebar-wrap

		#content
		#sidebar
		#comments
			float none
			width auto

		#content
			padding 0
	
	#footer
		ul
			height auto

		li
			display block
			height auto
			line-height 16px
			margin 0 0 1em

			a
				margin 0 !important

		#claborg
			margin 0 auto 15px


	body.gallery
		#container
			padding-bottom 25px
		
		.grid li
			min-height 0

	body.small-header #header, body.small-header #header > .wrap
	body.small-header
		#header
		#header > .wrap
			height auto

		#header
			min-height 68px

		#logo
			background none
			height auto
			top 3px
			width auto
			
			img
				display block

		#header-upload
			padding-top 0

		#inner
			display box
			box-orient vertical

		#img-info
			background darken(#00B8F4, 40%)
			box-ordinal-group 2
			padding 0
			
			.wrap
				box-direction reverse
				box-orient vertical
				display box
				margin 0
				padding 0

			.col
				padding 15px

			.photo-info
				margin 0
				float none

				p
					display block
					border-radius 0

					> span
						display block
						margin 0

				span.hidden
					display inline
				span.nbsp
					hidden()

		#img
			box-ordinal-group 1
			margin 0

			.pagination
				hidden()

		#wrap
			box-ordinal-group 3

	body.sizes
	body.single-edit
		#breadcrumb
			padding 0

		#container
			padding-bottom 0

		.info
			padding 15px
			text-align center
			margin 0
	
	form.login
		width auto

		&
		.fields p.buttons
			text-align center

		.fields
		.social
			background none
			float none
			margin 15px auto 0

		.fields
			background url("images/bg_hr_gray.png") left bottom repeat-x
			padding-bottom 16px
			padding 0 15px 15px

			input
				box-sizing border-box
				margin 0 auto
				max-width 400px
				width 100%

		.social
			max-width 500px
			padding 15px
			width auto

			legend
				padding 0

			p
				margin 0

		.register
			padding 15px 0

			a.button
				margin 0

	body.upload
	body.single-edit
		#content-sidebar-wrap #content
			margin 0 auto
			padding 15px 15px 25px
