// WordPress CSS classes

.alignnone
	float none
	margin 5px 20px 20px 0

.aligncenter
	text-align center
	margin 5px auto

	img&
		display block

.alignleft 
	float left
	margin 5px 20px 20px 0

	img&
		margin-top 0

.alignright 
	float right
	margin 5px 0 20px 20px

	img&
		margin-top 0

.alignjustify 
	text-align justify

.wp-caption
	background #fff
	border 1px solid #f0f0f0
	max-width 96% // image does not overflow the content area
	padding 5px 3px 10px
	text-align center

	img
		border 0
		height auto
		margin 0
		max-width 98.5%
		padding 0
		width auto

	p.wp-caption-text
		font-size 11px
		line-height 17px
		margin 0
		padding 0 4px 5px