@css {
/* L4C.me
	@import 'fonts/stylesheet.css';
*/
}
@import "reset"
@import "classes"
//@import "boilerplate"

body
	background #242c33
	color #333
	font-size 12px
	font-family Helvetica, Arial, sans-serif
	margin 0
	min-width 1000px
	padding 0

a
	text-decoration none

hr
	background url(images/bg_hr.png) repeat-x left bottom
	border 0
	clear both
	margin 25px 0
	height 1px
	overflow hidden
	width 100%

.wrap
	margin 0 auto
	position relative
	min-width 1000px
	width 90%

header
	background #00b8f4
	color #fff
	height 60px

	#logo
		height 49px
		left 13px
		margin 0
		position absolute
		top 5px
		width 96px

		a
			ir()
			text-indent 0

	#nav-aside
		float right
		font-size 1.2em
		width 720px
		width 75%
	
	nav
		float left
		height 30px
		line-height 30px
		padding-top 15px

		ul.menu
			list-style none
			margin 0
			padding 0
		
		ul.menu, ul.menu > li, ul.menu > li > a
			float left
			height 30px
		
		ul.menu > li
			margin-right 5px
			
			> a
				padding 0 10px
				text-decoration none
				border-radius( 5px )
			
			> a:hover,
			&.active > a
				background #0a93ca
			
	
	aside
		float right
		padding-top 18px
		height 25px
		line-height 25px

		a
			text-decoration none
		
		a.username
			border-bottom 2px solid #80dcfa
			
			&:hover
				border-color #fff
		
		a.profile, a.logout
			background none no-repeat 90% 50%
			display inline-block
			height 25px
			margin 0 3px
			padding 0 25px 0 10px
			border-radius( 5px )
			
			&:after
				content: "|"
				font-size 16px
				color #37cdff
				height 20px
				margin-left 8px
				overflow hidden
				width 0
		
		a.profile
			background-color #c2ecfc
			background-image url(images/icon_profile.png)
			color #0a93ca
		
		a.logout
			background-color #0a93ca
			background-image url(images/icon_logout.png)
			color #c2ecfc

footer
	background #242c33
	color #fff
	padding 13px
	text-align center

	ul
		height 37px
		list-style none
		margin 0
		padding 0
	
	li
		display inline-block
		height 37px
		line-height 37px
		margin 0 0 0 18px
		vertical-align middle
	
	a
		background none no-repeat left center
		display inline-block
		height 16px
		line-height 16px
		padding-left 20px
		text-decoration none
		vertical-align middle
	
	a:hover
		text-decoration underline
	
	#claborg
		margin 0

		a
			ir()
			background-image url("http://www.cristalab.com/images/general/label-cristalab-org.png")
			display inline-block
			height 37px
			padding 0
			width 136px
	
	#cristalab a
		background-image url("http://www.cristalab.com/images/icons/icon-logo.png")
	
	#l4c a
		background-image url("http://www.cristalab.com/images/icons/l4c.png")
	
	#tiaxime a
		background-image url("http://www.cristalab.com/images/icons/tiaxime.png")
	
	#dotgaia a
		background-image url("http://www.cristalab.com/images/icons/dotgaia.png")
	
	#p3 a
		background-image url("http://www.cristalab.com/images/icons/p3.png")

#inner
	background #fff

#wrap
	padding 15px 0 25px

#message
	background #ffc68c
	border 2px solid #ff9a35
	color #fff
	font-size 20px
	margin 0 0 25px
	padding 10px 45px
	position relative
	text-align center
	border-radius( 5px )
	clearfix()
	//text-shadow( 1px 1px 5px rgba(#000, 0.15) )

	a.more
		border-bottom 2px solid #fff
		margin-left 10px
		text-decoration none

	a.close
		ir()
		background-image url(images/icon_message_close.png)
		height 22px
		position absolute
		margin-top -11px
		right 10px
		top 50%
		width 22px

#breadcrumb
	height 45px
	line-height 45px
	margin 0 0 25px
	position relative
	
	h1
		color #0a93ca
		float left
		font-size 2em
		margin 0 30px 0 0


	ul
		float left
		list-style none
		margin 0
		padding 0
		clearfix()
		
		li
			background url(images/sep_blue.png) no-repeat left center
			float left
			padding 0 10px 0 17px

			&:first-child
				background none
				padding-left 10px
		
		a
			color #0a93ca
			border-bottom 2px solid #84c9e4

		li.active a
			color #ffae5e
			border-color #ffd6ae

		#upload
			background none
			margin 0
			padding 0
			position absolute
			right 0
			top 0
			
			a
				background #ff9933
				border 0
				color #fff
				display inline-block
				font-size 22px
				font-weight bold
				padding 0 24px
				border-radius( 5px )

.pagination
	font-weight bold
	height 30px
	line-height 30px
	text-align center

	li, span, a
		display inline-block
		height 30px
		vertical-align middle
	
	li, span
		padding-left 1px
	
		&:first-child
			padding 0
		
		&.sep
			color #999
			letter-spacing 1px
			width 22px
	
	a
		background #999
		color #fff
		padding 0 8px

		transition()

		&:hover
			background-color lighten( #999, 10% )
	
		&.prev, &.next
			background #ff9933 none no-repeat

			&:hover
				background-color lighten( #ff9933, 10% )
		
		&.prev
			background-image url(images/icon_prev.png)
			background-position 18% 50%
			padding 0 15px 0 40px
			border-radius( 30px 0 0 30px )
		
		&.next
			background-image url(images/icon_next.png)
			background-position 86% 50%
			padding 0 40px 0 15px
			border-radius( 0 30px 30px 0 )
		
		&.disabled, &.disabled:hover
			background-color #ccc
			cursor default
		
		&.active
			background-color #00b8f4
			cursor default
			font-size 1.2em

#content
	//outline 1px solid red

.grid
	list-style none
	margin 20px auto 0
	padding 0
	text-align center
	clearfix()

	li
		display inline-block
		height 220px
		margin 20px
		width 200px
		vertical-align middle
	
	div.img
		display inline-block
	
		a, img
			display inline-block
			//outline 1px solid red
			position relative
			vertical-align middle
		
		img
			border 4px solid #fff
			display inline-block
			transition()

	span.icon
		background rgba(#FF9933, 0.8) url(images/icon_zoom.png) no-repeat center
		bottom 4px
		height 36px
		opacity 0
		position absolute
		right 4px
		width 36px
		transition()
	
	div.info
		padding 5px 0 0 0
		clearfix()

		span.photo-name,
		a.comments
			display inline-block
			vertical-align middle
	
	a.comments
		ir()
		background url(images/icon_comments.png) no-repeat center
		border-left 1px solid #ccc
		height 18px
		margin-left 5px
		opacity 0
		width 0
		transition()
	
	li:hover
		.img img
			border-color #ccc

		span.icon
			opacity 1
		
		a.comments
			opacity 1
			width 35px
