body
	font 12px/1.25 Helvetica, Arial, sans-serif;
	margin 0
	padding 0
a
	color inherit
	//display inline-block
	cursor pointer
	//padding 5px
	text-decoration none

	&:focus, &:hover, &:active
		text-decoration none

p
	margin 0 0 1em

h1, h2, h3, h4, h5, h6
	margin 0 0 10px

h1
	font-size 2em

label
	cursor pointer
	font-weight bold

input, textarea
	border 2px solid #ccc
	font 12px/1 Helvetica, Arial, sans-serif;
	margin 0 0 15px
	padding 5px
	width 160px
	border-radius()
	box-shadow( inset 1px 1px 5px rgba(#ccc, 0.2) )
	transition()

textarea
	height 115px
	resize none
	width 260px





button
	border 0
	cursor pointer
	overflow visible // removes extra side padding in IE
	padding 0
	position relative
	transition()

	// overrides extra padding in Firefox
	&::-moz-focus-inner
		border none

	span
		display block
		position relative
		white-space nowrap

@media screen and (-webkit-min-device-pixel-ratio:0) {
	// Safari and Google Chrome only - fix margins
	button span {
		margin-top: -1px;
	}
}