{
	"domains": {
		"localhost": "app"
	},

	"facebook": {
		"clientID": "",
		"clientSecret": "",
		"callbackURL": "http://localhost:3000/login/facebook/callback",
		"permissions": ["email", "user_website"]
	},

	"git_pull": "git pull origin master",

	"google_analytics": "",

	"info": {
		"name": "L4C.me",
		"description": "A photo sharing service made with love ♥"
	},

	"mailer": {
		"name": "",
		"email": "",
		"username": "",
		"password": "",
		"imap": {
			"host": "",
			"port": 143,
			"secure": false
		},
		"smtp": {
			"host": "",
			"port": 25,
			"ssl": false
		}
	},

	"mongodb": "mongodb://localhost/l4c",

	"port": 3000,
	"port_git": 3001,

	"twitter": {
		"callbackURL": "http://localhost:3000/login/twitter/callback",
		"consumerKey": "",
		"consumerSecret": "",
		"hashtag": "#hashtag",
		"username": "@username"
	},

	"umask": "0777",

	"users": {
		"default": {
			"gid": "node",
			"uid": "node"
		},
		"root": {
			"gid": "root",
			"uid": "root"
		}
	}
}