nav#breadcrumb
	h1 Galeria

	- var users_gallery = original_url !== '/' && original_url.indexOf('/fotos') == -1
	- if (users_gallery)
		ul
			li
				- var author_prefix = 'Galeria de fotos de'
				include _author_info

	- else
		ul
			- var className = '';
			
			- className = (sort == 'ultimas') ? 'active' : '';
			li( class= className )
				a( href="/" ) M&aacute;s recientes
			
			- className = (sort == 'top') ? 'active' : '';
			li( class= className )
				a( href="/fotos/top" ) Mas vistas
