.comments
	h2 Comentarios
	form.clearfix
		input( type="hidden", name="photo", value=photo.slug )
		input( type="hidden", name="user", value=session_user.slug )

		.col.col-1
			p
				label Comentario
					br
					textarea( name="comment" )
		
		.col.col-2
			p
				label Nombre
					br
					input( type="text", name="name" )
			
			p
				label Email
					br
					input( type="email", name="email" )
		
			p.buttons
				button( type="submit" ) Comentar