p#logo
	a( href="/", title= site_name )
		img( src="/images/logo.png", alt="", width="156", height="50" )

hr.hidden

- if (original_url.indexOf('/login') !== 0 && original_url.indexOf('/registro') !== 0)

	aside#header-upload
		a.button.upload( href="/fotos/publicar" ) Sube una foto

		- if (logged_user)
			- src = (logged_user.email) ? helpers.gravatar(logged_user.email, 125) : helpers.image.blank
			#header-profile
				a#header-gravatar( href= "/" + logged_user.username )
					img( data-src=src, src= helpers.image.blank )
					span: b.icon-next

				ul
					li: a( href= "/" + logged_user.username ) Ver mi perfil
					li: a( href= "/profile" ) Editar mi perfil
					li: a( href= "/logout" ) Salir de sesión
