p#logo
	a( href="/", title="L4C.me" )
		img( src="/images/logo.png", alt="", width="96", height="49" )

hr.hidden

- if (logged_user)
	aside
		p Hola 
			a.username( href= "/" + logged_user.username )= logged_user.username
			|, puedes editar tu 
			a.profile( href="/perfil/" ) perfil
			|  o 
			a.logout( href="/logout/" ) salir
- else

	aside
		a.button Iniciar Sesi칩n o Registrate
		form#header-login( method="post", action="/login" )
			fieldset
				legend con cuenta de L4C.me
				
				p
					//- label( for="header-username" ) Nombre de usuario
					input#header-username( type="text", name="username", placeholder="Nombre de usuario", required )

				p
					//- label( for="header-password" ) Contrase침a
					input#header-password( type="password", name="password", placeholder="Contrase침a", required )
				
				p
					button( type="submit" ) Iniciar Sesi칩n
			