p#logo
	a( href="/", title="L4C.me" )
		img( src="/images/logo.png", alt="", width="96", height="49" )

hr.hidden

- if (logged_user)
	aside
		p Hola 
			a.username( href= "/" + logged_user.username )= logged_user.username
			|, puedes editar tu 
			a.profile( href="/perfil/" ) perfil
			|  o 
			a.logout( href="/logout/" ) salir
- else

	aside
		a#header-login-trigger.button Iniciar Sesi칩n o Registrate
		form#header-login( method="post", action="/login" )
			span.bg
			span.topbar

			fieldset#header-login-fields
				legend desde L4C.me
				
				p
					//- label( for="header-username" ) Nombre de usuario
					input#header-username( type="text", name="username", placeholder="Nombre de usuario", required )

				p
					//- label( for="header-password" ) Contrase침a
					input#header-password( type="password", name="password", placeholder="Contrase침a", required )
				
				p.buttons
					button( type="submit" ) Iniciar Sesi칩n

			fieldset#header-login-social
				legend desde otros sitios
				
				p
					a#header-facebook-link( href="#" )
						img( src= helpers.image.blank, data-src="/images/facebook_32.png", alt="", width="32", height="32" )
					a#header-twitter-link( href="#" )
						img( src= helpers.image.blank, data-src="/images/twitter_32.png", alt="", width="32", height="32" )
					a#header-googleplus-link( href="#" )
						img( src= helpers.image.blank, data-src="/images/googleplus_32.png", alt="", width="32", height="32" )
					br
					a#header-cristalab-link( href="#" )
						img( src= helpers.image.blank, data-src="/images/cristalab_32.png", alt="", width="32", height="32" )
					a#header-mdw-link( href="#" )
						img( src= helpers.image.blank, data-src="/images/mdw_32.png", alt="", width="32", height="32" )

			hr.gray.nomargin
			fieldset#header-register
				p
					a.button.blue( href="/registro" ) Registrate en L4C.me
					a.close( href="#" ) Cerrar