p#logo
	a( href="/", title="L4C.me" )
		img( src="/images/logo.png", alt="", width="96", height="49" )

hr.hidden

- if (logged_user)
	aside
		p Hola 
			a.username( href= "/" + logged_user.username )= logged_user.username
			|, puedes editar tu 
			a.profile( href="/perfil/" ) perfil
			|  o 
			a.logout( href="/logout/" ) salir

- else if (original_url !== '/login' && original_url !== '/register')

	aside#header-login
		a#header-login-trigger.button Iniciar Sesi칩n o Registrate
		
		form.login( method="post", action="/login" )
			span.bg
			span.topbar

			fieldset.fields
				legend desde L4C.me
				
				p
					//- label( for="header-username" ) Nombre de usuario
					input#header-username( type="text", name="username", placeholder="Nombre de usuario", required )

				p
					//- label( for="header-password" ) Contrase침a
					input#header-password( type="password", name="password", placeholder="Contrase침a", required )
				
				p.buttons
					a.forgot( href="/login/forgot" ) Lo olvid&eacute;
					button( type="submit" ) Iniciar Sesi칩n

			fieldset.social
				legend desde otros sitios

				p
					a.zocial.facebook( href="/login/facebook" ) Logueate con Facebook
					a.zocial.twitter( href="/login/twitter" ) Logueate con Twitter
					a.zocial.googleplus( href="#" ) Logueate con Google+
				
				p
					a.cristalab.disabled( title="No disponible" )
						img( src= helpers.image.blank, data-src="/images/cristalab_32.png", alt="", width="32", height="32" )
					
					a.mdw.disabled( title="No disponible" )
						img( src= helpers.image.blank, data-src="/images/mdw_32.png", alt="", width="32", height="32" )

			hr.gray.nomargin
			fieldset.register
				p
					a.button.blue( href="/registro" ) Registrate en L4C.me
					a.close( href="#" ) Cerrar