form.login( method="post", action="/login" )
	span.bg
	span.topbar

	fieldset.fields
		legend desde #{site_name}
		
		p
			input.username( type="text", name="username", placeholder="Nombre de usuario", required )

		p
			input.password( type="password", name="password", placeholder="Contraseña", required )
		
		p.buttons
			a.forgot( href="/login/forgot" ) Lo olvid&eacute;
			button( type="submit" ) Iniciar Sesión

	fieldset.social
		legend desde otros sitios

		p
			- var title_attr = "Aun no esta disponible :(";
			a.zocial.twitter( href="/login/twitter?r=" + original_url ) Entra con Twitter
			a.zocial.facebook.disabled( tabindex="-1", title= title_attr ) Entra con Facebook
			a.zocial.googleplus.disabled( tabindex="-1", title= title_attr ) Entra con Google+
		
	hr.gray.nomargin
	fieldset.register
		p
			a.button.blue( href="/register" ) Registrate en #{site_name}
			a.close( href="#" ) Cerrar