#content
	p.nomargin
		a( href="/single/" ) Volver a la fotograf&iacute;a de hCante
	
	nav#breadcrumb
		h1 Libros y Letras

		ul
			li
				a( href="/fullsize/" ) Peque&ntilde;a
			li
				a( href="/fullsize/" ) Mediana
			li.active
				a( href="/fullsize/" ) Grande

	#img
		.img
			img( src= "/images/image_large.jpg", width=970, height=728 )
			//.icons
			//	a.icon-edit( href="/edit/" )
	
	.img-info
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
	
		p.tags Tags: 
			a( href="/tag/guatemala/" ) Guatemala
			|  
			a( href="/tag/fotografia/" ) fotograf&iacute;a
			|  
			a( href="/tag/libro/" ) libro
			| 
			a( href="/tag/textos/" ) textos
		
		p.info Ha sido vista 
			strong 408 veces. 
			| &nbsp; Publicada hace 
			strong 1 d&iacute;a. 
		
		p
			a.edit-link( href="/editar/" ) (Editar)