#content-sidebar-wrap
	#content
		nav.pagination
			span
				a.prev( href="/single/" ) Anterior
			
			span
				a.next( href="/single/" ) Siguiente
		
		#img
			.img
				a( href="/fullsize/" )
					img( src= "/images/image_medium.jpg", width=600, height=450 )
				.icons
					a.icon-zoom( href="/fullsize/" )
					a.icon-edit( href="/edit/" )
		
		.img-info
			h1 Libros y Letras
			p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

		hr

		a#comentarios
		
		!= partial('_comments', { locals: { img_id: 1337 } })

	
	#sidebar
		#upload
			a( href="/subir/" ) Sube una foto

		.widget
			h2 Otras fotos de 
				a( href="/perfil/hcante/" ) hCant&eacute; 
				a.icon-rss( href="/feed/perfil/hcante/" ) [RSS]
			
			ul.grid
				- for ( i in _.range(1,7) )
					li
						a( href="/single/" )
							img( src="/images/image_thumb.jpg" )
							span.icon-zoom
			
			p.alignright
				a( href="/perfil/hcante/" ) Ver galer&iacute;a completa
	
		.widget
			h2 Sobre fotograf&iacute;a: 
				small
					a( href="/editar/" ) (Editar)
			
			.widget-content
				p.tags Tags: 
					a( href="/tag/guatemala/" ) Guatemala
					|  
					a( href="/tag/fotografia/" ) fotograf&iacute;a
					|  
					a( href="/tag/libro/" ) libro
					| 
					a( href="/tag/textos/" ) textos
				
				p.info Ha sido vista 
					strong 408 veces. 
					| &nbsp; Publicada hace 
					strong 1 d&iacute;a.

		.widget
			h2 Otras im&aacute;genes en L4C.me
			
			ul.grid
				- for ( i in _.range(1,7) )
					li
						a( href="/single/" )
							img( src="/images/image_thumb.jpg" )
							span.icon-zoom
			
			p.alignright
				a( href="/" ) Ver m&aacute;s