nav#breadcrumb
	h1 Galeria
	ul
		li
			a( href="/galeria/" ) M&aacute;s recientes
		li
			a( href="/galeria/mas-vistas/" ) Mas vistas
		li
			a( href="/galeria/usuarios/" ) Galer&iacute;as de Usuarios
		li
			a( href="/galeria/categorias/" ) Categorias
			
	p#upload
		a( href="/subir/" ) Sube una foto

hr

!= partial('_pagination')

#content
	ul.grid
		- var a = _.range(1,5), length = 3*4+1;
		- _.each( _.range(1, length), function(i){
			li
				span.img
					a
						- rand = Math.floor(Math.random() * 4) + 1;
						img( src= "/images/img_" + rand + ".jpg" )
						span.icon
				
				span.name Flores por 
					strong hCant&eacute;
				a.comments Comentarios

		- });

hr

!= partial('_pagination')