#content-sidebar-wrap
	nav#breadcrumb
		h1 Subir una foto

	hr

	#content
		form( method="post", action="/fotos/publicar", enctype="multipart/form-data" )
			#upload-file-container
				p
					label( for="upload-file" ) Fotografia
					input#upload-file( type="file", name="file", accept="jpg,gif,png,bmp", required, autofocus )

			hr

			p
				label( for="upload-title" ) Titulo 
					em (requerido)
				
				input#upload-title( type="text", name="name", required )
			
			p
				label( for="upload-description" ) Descripci&oacute;n 
					em Es opcional, pero nos gusta saber que tienes para decir
						br
						br
						strong Nota: 
							a( href="http://en.wikipedia.org/wiki/Markdown", target="_blank", tabindex="-1" ) Markdown
						|  está disponible
				textarea#upload-description( name="description" )

			hr

			p.buttons
				button( type="submit" ) Subir