!!! 5
html( lang="es", prefix="og: http://ogp.me/ns#" )
	head
		- document_title = helpers.heart + ' ' + document_title + ' &nbsp; ' + twitter_config.hashtag
		meta( charset="utf-8" )
		title= document_title
		meta( name="description", value= document_description )
		meta( name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" )

		block before-head-meta

		link( rel="stylesheet", href="/l4c.css")
		script( src="/js/modernizr-1.7.min.js" )

		meta( name="twitter:site", content= twitter_config.username )

		meta( property="og:title", content= document_title )
		meta( property="og:description", content= document_description )
		meta( property="og:image", content= document_image )
		meta( property="og:url", content= document_url )

		block after-head-meta
	
	- body_class += logged_user ? ' logged-in' : '';
	body( class= body_class )
		script document.body.className += ' js-enable ';

		div#overflow
		
			header#header
				.wrap
					!= partial('_header')
			
			hr.hidden

			section#inner
				block before-wrap

				#wrap
					
					//- p#message No te pierdas lo nuevo de L4C, un concurso nuevo cada mes. 
					//- 	a.more( href="/concursos/" ) Leer m&aacute;s
					//- 	a.close Cerrar [x]

					#container.clearfix
						- if (typeof body !== 'undefined')
							!= body
						
						block content
			
			hr.hidden
			
			section#js
				script window.onload = function(){ document.body.className += ' js-ready '; }; var Site = {};
				script( src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" )
				script window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js">\x3C/script>')
				script( src="/js/3rd.party.min.js" )
				script( src="/js/l4c.js" )
				- if (google_analytics !== '')
					script#analytics var _gaq = _gaq || []; _gaq.push(['_setAccount', '#{google_analytics}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
