!!! 5
html( lang="es" )
	head
		meta( charset="utf-8" )
		title L4C.me
		link( rel="stylesheet", href="/l4c.css")
		meta( name="description", value="L4C" )
	
	body
		script document.body.className += ' js-enable ';
		
		header
			.wrap
				p#logo
					a( href="/", title="L4C.me" )
						img( src="/images/logo.png", alt="", tabindex="-1", width="96", height="49" )
				
				#nav-aside.clearfix
					nav
						ul.menu
							li.active
								a( href="/" ) Inicio
							li
								a( href="/subir/" ) Subir
							li
								a( href="/fotos/" ) Fotos
							li
								a( href="/galeria/" ) Galeria
							li
								a( href="/blog/" ) Blog
					
					hr.hidden

					aside
						p Hola 
							a.username( href="/perfil/" ) hCant&eacute;
							|, puedes editar tu 
							a.profile( href="/perfil/" ) perfil
							|  o 
							a.logout( href="/logout/" ) salir
		
		hr.hidden

		section#inner
			#wrap.wrap
				
				p#message No te pierdas lo nuevo de L4C, un concurso nuevo cada mes. 
					a.more( href="/concursos/" ) Leer m&aacute;s
					a.close Cerrar [x]
			
				hr.hidden

				!= body
		
		hr.hidden
		
		footer
			ul
				li#claborg
					a( href="http://www.cristalab.org/" ) Cristalab.org
				li#cristalab
					a( href="http://cristalab.com/" ) Cristalab
				li#l4c
					a( href="http://l4c.me/" ) Sube tus im&aacute;genes
				li#tiaxime
					a( href="http://tiaxime.come/" ) Consejos de amor
				li#dotgaia
					a( href="http://dotgaia.com/" ) dotGaia.com
				li#p3
					a( href="http://puls3.com/" ) Puls3.com
		
		section#js
			script window.onload = function(){ document.body.className += ' js-ready '; }; var Site = {};
			//script#analytics var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-1102463-13']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();