!!! 5
html( lang="es" )
	head
		meta( charset="utf-8" )
		title= document_title
			|  &hearts;
		link( rel="stylesheet", href="/l4c.css")
		meta( name="description", value="L4C" )
		script( src="/js/modernizr-1.7.min.js" )
	
	body( class= body_class )
		script document.body.className += ' js-enable ';

		div#overflow
		
			header#header
				.wrap
					!= partial('_header')
			
			hr.hidden

			section#inner
				#wrap
					
					//- p#message No te pierdas lo nuevo de L4C, un concurso nuevo cada mes. 
					//- 	a.more( href="/concursos/" ) Leer m&aacute;s
					//- 	a.close Cerrar [x]
				
					#container.clearfix
						!= body
			
			hr.hidden
			
			footer#footer
				ul
					li#claborg
						a( href="http://www.cristalab.org/" ) Cristalab.org
					li#cristalab
						a( href="http://cristalab.com/" ) Cristalab
					li#l4c
						a( href="http://l4c.me/" ) Sube tus im&aacute;genes
					li#tiaxime
						a( href="http://tiaxime.come/" ) Consejos de amor
					li#dotgaia
						a( href="http://dotgaia.com/" ) dotGaia.com
					li#p3
						a( href="http://puls3.com/" ) Puls3.com

					#github
						a( href="https://github.com/neojp/L4C.me/" )
							//- img( style="position: absolute; top: 0; right: 0; border: 0;", src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67", alt="Fork me on GitHub" )
							| Fork on GitHub.com
			
			section#js
				script window.onload = function(){ document.body.className += ' js-ready '; }; var Site = {};
				//script#analytics var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-1102463-13']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
