extends layout

block content
	nav#breadcrumb
		h1 Iniciar Sesi칩n

	hr

	- if (failed)
		div.message.error
			p
				strong Please re-enter your password
			p The password you entered is incorrect. Please try again (make sure your caps lock is off).


	form.login( method="post", action="/login" )
		fieldset.fields
			legend desde #{site_name}

			p
				//- label( for="header-username" ) Nombre de usuario
				input#header-username( type="text", name="username", placeholder="Nombre de usuario", required, autofocus )

			p
				//- label( for="header-password" ) Contrase침a
				input#header-password( type="password", name="password", placeholder="Contrase침a", required )

			p.buttons
				//- a.forgot( href="/login/forgot" ) Recuperar Contrase침a
				button( type="submit" ) Entrar

		fieldset.social
			legend desde otros sitios

			p
				- var title_attr = "Aun no esta disponible :(";
				a.zocial.twitter( href="/login/twitter" ) Logueate con Twitter

		hr.gray.nomargin
		fieldset.register
			p
				a.button.blue( href="/register" ) Registrate en #{site_name}
