nav#breadcrumb
	h1 Iniciar Sesión

hr

- if (failed)
	div.message.error
		p
			strong Please re-enter your password
		p The password you entered is incorrect. Please try again (make sure your caps lock is off).


form.login( method="post", action="/login" )
	fieldset.fields
		legend desde L4C.me
		
		p
			//- label( for="header-username" ) Nombre de usuario
			input#header-username( type="text", name="username", placeholder="Nombre de usuario", required, autofocus )

		p
			//- label( for="header-password" ) Contraseña
			input#header-password( type="password", name="password", placeholder="Contraseña", required )
		
		p.buttons
			a.forgot( href="/login/forgot" ) Recuperar Contraseña
			button( type="submit" ) Iniciar Sesión

	fieldset.social
		legend desde otros sitios

		p
			a.zocial.twitter( href="/login/twitter" ) Logueate con Twitter
			a.zocial.facebook.disabled( title="No disponible" ) Logueate con Facebook
			a.zocial.googleplus.disabled( title="No disponible" ) Logueate con Google+
		
	hr.gray.nomargin
	fieldset.register
		p
			a.button.blue( href="/register" ) Registrate en #{site_name}
