nav#breadcrumb
	h1 Editar mi perfil

hr


form.profile( method="post", action="/profile" )
	fieldset.fields
		legend Nombre de usuario
		
		p
			//- label( for="header-username" ) Nombre de usuario
			input#header-username( type="text", name="username", placeholder="Nombre de usuario" )
			br
			label El nombre de usuario es usado en la URL de tu perfil y fotos
				br
				small
					span#profile-url http://l4c.me/username
					br
					span#profile-url http://l4c.me/username/nombre-de-tu-foto
	
	fieldset
		legend Contraseña

		p
			| Te gustaria cambiar de contraseña?
			br
			button Cambiar contraseña

		p.hidden
			input#header-password( type="password", name="password", placeholder="Contraseña" )
			a.cancel( href="#" ) Cancelar

	fieldset
		legend Email
		p
			//- label( for="header-email" ) Correo Electr&oacute;nico
			input#header-email( type="email", name="email", placeholder="Correo Electr&oacute;nico" )
			br
			label Solo usamos tu correo para recuperar tu contraseña o enviar notificaciones de tu cuenta

	p.buttons
		button( type="submit" ) Editar mi perfil
