@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/IcoMoon.eot');
	src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/IcoMoon.woff') format('woff'),
		url('fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-untitled:before,
.icon-fullscreen:before {
	content: "\2a";
}
.icon-untitled-2:before,
.icon-add:before {
	content: "\2b";
}
.icon-untitled-3:before,
.icon-progress:before {
	content: "\30";
}
.icon-untitled-4:before,
.icon-up:before {
	content: "\3a";
}
.icon-untitled-5:before,
.icon-down:before {
	content: "\3b";
}
.icon-untitled-6:before,
.icon-prev:before {
	content: "\3c";
}
.icon-untitled-7:before,
.icon-next:before {
	content: "\3e";
}
.icon-untitled-8:before,
.icon-rss:before {
	content: "\42";
}
.icon-untitled-9:before,
.icon-tag:before {
	content: "\2c";
}
.icon-untitled-10:before,
.icon-remove:before {
	content: "\2d";
}
.icon-untitled-11:before,
.icon-photo:before {
	content: "\49";
}
.icon-untitled-12:before,
.icon-heart-blank:before {
	content: "\4f";
}
.icon-untitled-13:before,
.icon-heart-full:before {
	content: "\4e";
}
.icon-untitled-14:before,
.icon-search:before {
	content: "\4c";
}
.icon-untitled-15:before,
.icon-clock:before {
	content: "\50";
}
.icon-untitled-16:before,
.icon-settings:before {
	content: "\53";
}
.icon-untitled-17:before,
.icon-profile:before {
	content: "\55";
}
.icon-untitled-18:before,
.icon-warning:before {
	content: "\57";
}
.icon-untitled-19:before,
.icon-logout:before {
	content: "\58";
}
.icon-untitled-20:before,
.icon-comment-square:before {
	content: "\63";
}
.icon-untitled-21:before,
.icon-facebook:before {
	content: "\66";
}
.icon-untitled-22:before,
.icon-googleplus:before {
	content: "\67";
}
.icon-untitled-23:before,
.icon-login:before {
	content: "\22";
}
.icon-untitled-24:before,
.icon-github:before {
	content: "\23";
}
.icon-untitled-25:before,
.icon-css3:before {
	content: "\24";
}
.icon-untitled-26:before,
.icon-share:before {
	content: "\26";
}
.icon-untitled-27:before,
.icon-resize:before {
	content: "\27";
}
.icon-untitled-28:before,
.icon-left:before {
	content: "\28";
}
.icon-untitled-29:before,
.icon-right:before {
	content: "\29";
}
.icon-untitled-30:before,
.icon-complete:before {
	content: "\2f";
}
.icon-untitled-31:before,
.icon-star:before {
	content: "\52";
}
.icon-untitled-32:before,
.icon-email:before {
	content: "\40";
}
.icon-untitled-33:before,
.icon-archive:before {
	content: "\5a";
}
.icon-untitled-34:before,
.icon-view:before {
	content: "\21";
}
.icon-untitled-35:before,
.icon-attachment:before {
	content: "\31";
}
.icon-untitled-36:before,
.icon-twitter:before {
	content: "\32";
}
.icon-untitled-37:before,
.icon-html5:before {
	content: "\33";
}
.icon-untitled-38:before,
.icon-reload:before {
	content: "\25";
}
.icon-untitled-39:before,
.icon-zoom-in:before {
	content: "\f00e";
}
.icon-untitled-40:before,
.icon-zoom-out:before {
	content: "\f010";
}
.icon-untitled-41:before,
.icon-trash:before {
	content: "\f014";
}
.icon-untitled-42:before,
.icon-calendar:before {
	content: "\f073";
}
.icon-untitled-43:before,
.icon-comments-bubbles:before {
	content: "\f086";
}
.icon-untitled-44:before,
.icon-home:before {
	content: "\f015";
}
