nav#breadcrumb
	h1 Galeria
	ul
		- var className = '';
		
		- className = (sort == 'ultimas') ? 'active' : '';
		li( class= className )
			a( href="/fotos" ) M&aacute;s recientes
		
		- className = (sort == 'top') ? 'active' : '';
		li( class= className )
			a( href="/fotos/top" ) Mas vistas
		
		- className = (sort == 'galeria') ? 'active' : '';
		li( class= className )
			a( href="/fotos/galeria" ) Galer&iacute;as de Usuarios

		- className = original_url.indexOf('/tags') == 0 ? 'active' : '';
		li( class= className )
			a( href="/tags" ) Categorias
		
		li#upload
			a( href="/fotos/publicar" ) Sube una foto