form( method="post", action="/login" )
	p
		label Username
			| 
			input( type="text", name="username", tabindex="1" )
	
	p
		label Password
			| 
			input( type="password", name="password", tabindex="2" )
	
	p
		button( type="submit", tabindex="3" ) Submit