/* L4C.me
	@import 'fonts/stylesheet.css';
*/
.ir {
  background-repeat: no-repeat;
  height: 100%;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
  width: 100%;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  left: -9999px;
  position: absolute !important;
  top: -9999px;
}
.invisible {
  visibility: hidden;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clear {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.aligncenter {
  text-align: center;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignjustify {
  text-align: justify;
}
body {
  background: #fff;
  color: #222;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  text-decoration: underline;
}
a:focus,
a:hover,
a:active {
  text-decoration: none;
}
p {
  margin: 0 0 1em;
}
label {
  cursor: pointer;
  font-weight: bold;
}
input,
textarea {
  border: 3px double #bbb;
  font: 12px/14px "saxMonoRegular", "Courier New", Courier, monospace;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  box-shadow: inset 1px 1px 5px rgba(102,102,102,0.1);
  -o-box-shadow: inset 1px 1px 5px rgba(102,102,102,0.1);
  -ms-box-shadow: inset 1px 1px 5px rgba(102,102,102,0.1);
  -moz-box-shadow: inset 1px 1px 5px rgba(102,102,102,0.1);
  -webkit-box-shadow: inset 1px 1px 5px rgba(102,102,102,0.1);
  -webkit-background-clip: padding-box;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  border-color: #ffa500;
  outline: 0;
}
textarea {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  resize: none;
  right: 0;
  top: 1.5em;
  transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}
button {
  border: 3px double #ffa500;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  padding: 5px 25px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  -o-text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  -ms-text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  background-color: #ffae1a;
  background-image: -moz-linear-gradient(top, #ffae1a, #d98c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffae1a), color-stop(1, #d98c00));
  background-image: linear-gradient(top, #ffae1a, #d98c00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d98c00', EndColorStr='#ffae1a');
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-background-clip: padding-box;
  transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
}
button:hover {
  background-color: #ffb733;
  background-image: -moz-linear-gradient(top, #ffb733, #d98c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffb733), color-stop(1, #d98c00));
  background-image: linear-gradient(top, #ffb733, #d98c00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d98c00', EndColorStr='#ffb733');
}
button:focus,
button:active {
  background-color: #d98c00;
  background-image: -moz-linear-gradient(top, #d98c00, #ffae1a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d98c00), color-stop(1, #ffae1a));
  background-image: linear-gradient(top, #d98c00, #ffae1a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffae1a', EndColorStr='#d98c00');
}
button:hover,
button:focus,
button:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.45);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.45);
  -ms-box-shadow: 0 0 10px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.45);
  -webkit-background-clip: padding-box;
}
header {
  height: 20px;
  display: block;
  left: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
}
header h1,
header p {
  display: inline;
}
header h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4;
}
header p {
  margin: 0 0 0 15px;
}
header p a {
  display: inline-block;
  font-size: 11px;
  margin-left: 5px;
}
#styl,
#css {
  bottom: 50px;
  margin: 0;
  position: absolute;
  top: 45px;
}
#styl {
  left: 2%;
  right: 52%;
}
#css {
  left: 52%;
  right: 2%;
}
#convert {
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}
footer {
  bottom: 10px;
  color: #666;
  display: block;
  font-size: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
}
footer span.sep {
  color: #ccc;
  display: inline-block;
  margin: 0 5px;
}
