/* L4C.me */
@import url("zocial/zocial.css");
/*  CSS3 ✰ Classes  */
.ir{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%}
.hidden{display:none !important;visibility:hidden !important}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-moz-user-select:-moz-none}
.clearfix,#img-info,div.comments article,div.comments .buttons{zoom:1;}
.clearfix:before,#img-info:before,div.comments article:before,div.comments .buttons:before,.clearfix:after,#img-info:after,div.comments article:after,div.comments .buttons:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after,#img-info:after,div.comments article:after,div.comments .buttons:after{clear:both}
.clear{display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
.aligncenter{text-align:center}
.alignleft{text-align:left}
.alignright{text-align:right}
.alignjustify{text-align:justify}
.nomargin{margin:0}
body{font:12px/1.25 Helvetica,Arial,sans-serif;margin:0;padding:0}
a{cursor:pointer;text-decoration:none;}
a:focus,a:hover,a:active{text-decoration:none}
p{margin:0 0 1em}
h1,h2,h3,h4,h5,h6{margin:0 0 10px}
h1{font-size:2em}
label{cursor:pointer}
input,textarea{border:2px solid #ccc;font:12px/1 Helvetica,Arial,sans-serif;margin:0 0 15px;padding:5px;width:160px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;box-shadow:inset 1px 1px 5px rgba(204,204,204,0.2);-o-box-shadow:inset 1px 1px 5px rgba(204,204,204,0.2);-ms-box-shadow:inset 1px 1px 5px rgba(204,204,204,0.2);-moz-box-shadow:inset 1px 1px 5px rgba(204,204,204,0.2);-webkit-box-shadow:inset 1px 1px 5px rgba(204,204,204,0.2);-webkit-background-clip:padding-box;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
textarea{height:115px;resize:none;width:260px}
/*  CSS3 ✰ Icons  */
@font-face {
	font-family: 'IcoMoon';
	src: url('../icomoon/fonts/IcoMoon.eot');
	src: url('../icomoon/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),url('../icomoon/fonts/IcoMoon.svg#IcoMoon') format('svg'),url('../icomoon/fonts/IcoMoon.woff') format('woff'),url('../icomoon/fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[data-icon]{font-family:'IcoMoon';content:attr(data-icon);speak:none}
.icomoon{font-family:'IcoMoon';font-style:normal;speak:none}
.icon-untitled:before,.icon-fullscreen:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\2a"}
.icon-untitled-2:before,.icon-add:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\2b"}
.icon-untitled-3:before,.icon-progress:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\30"}
.icon-untitled-4:before,.icon-up:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\3a"}
.icon-untitled-5:before,.icon-down:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\3b"}
.icon-untitled-6:before,.icon-prev:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\3c"}
.icon-untitled-7:before,.icon-next:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\3e"}
.icon-untitled-8:before,.icon-rss:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\42"}
.icon-untitled-9:before,.icon-tag:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\2c"}
.icon-untitled-10:before,.icon-remove:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\2d"}
.icon-untitled-11:before,.icon-photo:before,#upload a:before,body.upload p.buttons button:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\49"}
.icon-untitled-12:before,.icon-heart-blank:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\4f"}
.icon-untitled-13:before,.icon-heart-full:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\4e"}
.icon-untitled-14:before,.icon-search:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\4c"}
.icon-untitled-15:before,.icon-clock:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\50"}
.icon-untitled-16:before,.icon-settings:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\53"}
.icon-untitled-17:before,.icon-profile:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\55"}
.icon-untitled-18:before,.icon-warning:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\57"}
.icon-untitled-19:before,.icon-logout:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\58"}
.icon-untitled-20:before,.icon-comment-square:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\63"}
.icon-untitled-21:before,.icon-facebook:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\66"}
.icon-untitled-22:before,.icon-googleplus:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\67"}
.icon-untitled-23:before,.icon-login:before,#header-login-trigger:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\22"}
.icon-untitled-24:before,.icon-github:before,#github:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\23"}
.icon-untitled-25:before,.icon-css3:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\24"}
.icon-untitled-26:before,.icon-share:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\26"}
.icon-untitled-27:before,.icon-resize:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\27"}
.icon-untitled-28:before,.icon-left:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\28"}
.icon-untitled-29:before,.icon-right:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\29"}
.icon-untitled-30:before,.icon-complete:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\2f"}
.icon-untitled-31:before,.icon-star:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\52"}
.icon-untitled-32:before,.icon-email:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\40"}
.icon-untitled-33:before,.icon-archive:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\5a"}
.icon-untitled-34:before,.icon-view:before,#img-info .info-views:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\21"}
.icon-untitled-35:before,.icon-attachment:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\31"}
.icon-untitled-36:before,.icon-twitter:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\32"}
.icon-untitled-37:before,.icon-html5:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\33"}
.icon-untitled-38:before,.icon-reload:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\25"}
.icon-untitled-39:before,.icon-zoom-in:before,.grid span.icon-zoom:before,#img .icons .icon-zoom:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f00e"}
.icon-untitled-40:before,.icon-zoom-out:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f010"}
.icon-untitled-41:before,.icon-trash:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f014"}
.icon-untitled-42:before,.icon-calendar:before,#img-info .info-date:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f073"}
.icon-untitled-43:before,.icon-comment-bubbles:before,.grid a.comments:before,#img-info .info-comments:before,#comments h2:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f086"}
.icon-untitled-44:before,.icon-home:before{font-family:'IcoMoon';font-style:normal;speak:none;content:"\f015"}
body{background:#242c33;color:#333}
hr{background:url("images/bg_hr.png") repeat-x left bottom;border:0;clear:both;margin:25px 0;height:1px;overflow:hidden;width:100%;}
hr.gray{background-image:url("images/bg_hr_gray.png")}
h1,h2,h3,h4,h5,h6{color:#0a92ca}
a{border-bottom:2px solid #80c4e0;color:#0a92ca;}
a.gray{border-color:#ccc;color:#999}
input:focus,textarea:focus,input:active,textarea:active{border-color:#f93;outline:0}
a.button{display:inline-block}
button,a.button{background:#f93 no-repeat;border:0;color:#fff;cursor:pointer;font:bold 12px/1 Helvetica,Arial,sans-serif;padding:6px 10px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
button:hover,a.button:hover,button:focus,a.button:focus{background-color:#ffa347}
button:focus,a.button:focus{outline:0;box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #FF9933;-o-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #FF9933;-ms-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #FF9933;-moz-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #FF9933;-webkit-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #FF9933;-webkit-background-clip:padding-box}
button.blue,a.button.blue{background-color:#009ccf;}
button.blue:hover,a.button.blue:hover,button.blue:focus,a.button.blue:focus{background-color:#00a6dc}
button.blue:focus,a.button.blue:focus,button.blue.focus,a.button.blue.focus{box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc;-o-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc;-ms-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc;-moz-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc;-webkit-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #00a6dc;-webkit-background-clip:padding-box}
button.gray,a.button.gray{background-color:#999;}
button.gray:hover,a.button.gray:hover,button.gray:focus,a.button.gray:focus{background-color:#8a8a8a}
button.gray:focus,a.button.gray:focus,button.gray.focus,a.button.gray.focus{box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #8a8a8a;-o-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #8a8a8a;-ms-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #8a8a8a;-moz-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #8a8a8a;-webkit-box-shadow:inset 0 0 0 1px #fff, 0 0 0 1px #8a8a8a;-webkit-background-clip:padding-box}
.zocial.disabled{cursor:default;opacity:.5}
.icomoon{display:inline-block;font-family:'IcoMoon';font-style:normal;margin-right:.5em;speak:none}
.wrap{margin:0 auto;position:relative;max-width:1475px}
#header{background:#00b8f4;min-height:60px;position:relative;z-index:3;}
#header .wrap{zoom:1;}
#header .wrap:before,#header .wrap:after{content:"\0020";display:block;height:0;visibility:hidden}
#header .wrap:after{clear:both}
#header,#header a{border:0;color:#fff}
#header #logo{height:49px;left:15px;margin:0;position:absolute;top:5px;width:96px;}
#header #logo a{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;text-indent:0}
#header #nav-aside{float:right;font-size:1.2em;width:720px;width:75%}
#header nav{float:left;height:30px;line-height:30px;padding-top:15px;}
#header nav ul.menu{list-style:none;margin:0;padding:0}
#header nav ul.menu,#header nav ul.menu > li,#header nav ul.menu > li > a{float:left;height:30px}
#header nav ul.menu > li{margin-right:5px;}
#header nav ul.menu > li > a{padding:0 10px;text-decoration:none;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
#header nav ul.menu > li > a:hover,#header nav ul.menu > li.active > a{background:#0a93ca}
#header aside{float:right;margin-right:10px;padding:18px 5px 0 0;height:25px;line-height:25px;position:relative;}
#header aside a{text-decoration:none}
#header aside a.username{border-bottom:2px solid #80dcfa;}
#header aside a.username:hover{border-color:#fff}
#header aside a.profile,#header aside a.logout{display:inline-block;height:25px;margin:0 3px;padding:0 10px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;}
#header aside a.profile span,#header aside a.logout span{border-left:1px solid #37cdff;height:20px;margin-left:8px;padding:0 0 0 5px}
#header aside a.profile{background:#c2ecfc;color:#0a93ca}
#header aside a.logout{background:#0a93ca;color:#c2ecfc}
#header-login-trigger:before{margin-right:.5em}
#header-login.active #header-login-trigger{border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;-ms-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-webkit-background-clip:padding-box}
#header-login.active form.login{left:auto;opacity:1;right:0;top:47px}
#header-login form.login{background:#f7f7f7;border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-webkit-background-clip:padding-box;box-shadow:0 0 5px rgba(0,0,0,0.5);-o-box-shadow:0 0 5px rgba(0,0,0,0.5);-ms-box-shadow:0 0 5px rgba(0,0,0,0.5);-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;box-sizing:border-box;left:-9999px;opacity:0;padding:15px;position:absolute;top:-9999px;width:421px;transition:opacity .15s linear;-o-transition:opacity .15s linear;-ms-transition:opacity .15s linear;-moz-transition:opacity .15s linear;-webkit-transition:opacity .15s linear}
#header-login input{font-size:1em;padding:5px;width:165px}
#header-login legend{font-size:1em;font-weight:bold;line-height:1;margin:0 0 10px}
#header-login span.bg,#header-login span.topbar{background:#00b8f4;height:5px;left:0;position:absolute;right:0;top:-5px}
#header-login span.topbar{background:#f93;left:0;right:0}
#header-login .fields button{font-size:1em}
#header-login .social{padding:0 0 0 15px;width:180px;}
#header-login .social p{margin:0}
#header-login .zocial{font-size:1em;margin:5px 0;width:160px;}
#header-login .zocial:before{width:15px}
#header-login .register{margin:15px 0 0;padding:0}
fieldset{border:0}
legend{color:#666;font-size:1.2em;margin:0;padding:0 0 1em;text-align:center}
#header-login a.forgot,form.login a.forgot,#header-login a.close,form.login a.close,#header-login a.login,form.login a.login{color:#666;border-bottom:2px solid #ccc}
form.login{margin:0 auto;width:886px;}
form.login legend{width:180px}
form.login label{display:block;padding:5px}
form.login input{margin:0;font-size:1.2em;padding:.75em;width:300px;}
form.login input[type="checkbox"]{margin-right:5px;width:auto}
form.login .fields{float:left;margin:0;padding:0;}
form.login .fields p.buttons{text-align:right}
form.login .fields a.forgot{margin-right:10px}
form.login .fields button{font-size:1.2em}
form.login .zocial{font-size:1.2em}
form.login .social{background:url("images/bg_vr_gray.png") repeat-y left top;float:right;margin:0;padding:0 0 15px 15px;text-align:center;width:500px;}
form.login .social p{margin:0 0 20px}
form.login .social a{border:0;display:inline-block;margin:5px;}
form.login .social a.disabled{margin:0 10px}
form.login .social img{vertical-align:bottom}
form.login .register{padding:35px 0 50px;text-align:center;}
form.login .register p{margin:0}
form.login .register a.button{font-size:1.4em;margin-right:25px;padding:.5em 1em}
form.register hr{margin:25px 0}
form.profile{margin:0 auto;padding:0 350px 0 150px;width:215px;}
form.profile .gravatar{float:left;margin:0 0 0 -150px;text-align:center;}
form.profile .gravatar p.img{background:#ddd;margin:0 0 5px;}
form.profile .gravatar p.img a{border:0}
form.profile .gravatar img{height:125px;vertical-align:bottom;width:125px}
form.profile .fields{list-style:none;margin:0;padding:0;}
form.profile .fields input{margin:.5em 0 0}
form.profile li{margin:0 0 15px;position:relative}
form.profile input,form.profile textarea{width:200px}
form.profile .info{font-size:.9em;position:absolute;right:-350px;top:1.7em;width:325px}
form.profile .cancel{display:block;margin:5px 5px 0 0;text-align:right}
form.profile .zocial{box-sizing:border-box;text-align:left;width:100%;}
form.profile .zocial:before{width:18px}
.message{background:#fff5eb;border:1px solid #fc9;padding:10px;margin:10px auto 35px;text-align:center;}
.message .error{background:#ffe5e5;border-color:#ff8080}
#footer{background:#242c33;padding:13px;position:relative;text-align:center;z-index:1;}
#footer,#footer a{border:0;color:#fff}
#footer ul{height:37px;list-style:none;margin:0;padding:0}
#footer li{display:inline-block;height:37px;line-height:37px;margin:0 0 0 18px;vertical-align:middle}
#footer #claborg a,#footer ul a:before{background-image:url("../images/sprite.png");background-repeat:no-repeat;content:" ";display:inline-block;height:16px;margin-right:.5em;vertical-align:middle;width:16px}
#footer a{display:inline-block;height:16px;line-height:16px;text-decoration:none;vertical-align:middle}
#footer a:hover{text-decoration:underline}
#footer #claborg{margin:0;}
#footer #claborg a{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;background-position:0 100%;display:inline-block;height:37px;padding:0;width:136px;}
#footer #claborg a:before{content:"";display:none}
#footer #cristalab a:before{background-position:0 0}
#footer #l4c a:before{background-position:-16px 0}
#footer #tiaxime a:before{background-position:-32px 0}
#footer #dotgaia a:before{background-position:-48px 0}
#footer #p3 a:before{background-position:-64px 0}
#github{text-align:center;}
#github:before{font-size:1.2em;margin-right:.5em;vertical-align:middle}
#github a{color:#ccc;border-color:#666;padding:0}
#inner{background:#fff;position:relative;z-index:2}
#wrap{margin:0 auto;max-width:1475px;padding:25px}
#message{background:#ffc68c;border:2px solid #ff9a35;color:#fff;font-size:20px;margin:0 0 25px;padding:10px 45px;position:relative;text-align:center;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;zoom:1;}
#message:before,#message:after{content:"\0020";display:block;height:0;visibility:hidden}
#message:after{clear:both}
#message a{border:0;color:#fff}
#message a.more{border-bottom:2px solid #fff;margin-left:10px;text-decoration:none}
#message a.close{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;background-image:url("images/icon_message_close.png");height:22px;position:absolute;margin-top:-11px;right:10px;top:50%;width:22px}
#breadcrumb{height:45px;line-height:45px;margin:0 0 25px;position:relative;}
#breadcrumb h1{color:#0a93ca;float:left;font-size:2em;margin:0 30px 0 0}
#breadcrumb ul{list-style:none;margin:0;padding:0;zoom:1;}
#breadcrumb ul:before,#breadcrumb ul:after{content:"\0020";display:block;height:0;visibility:hidden}
#breadcrumb ul:after{clear:both}
#breadcrumb ul li{background:url("images/sep_blue.png") no-repeat left center;float:left;padding:0 10px 0 17px;}
#breadcrumb ul li:first-child{background:none;padding-left:10px}
#breadcrumb ul a{border-bottom:2px solid #84c9e4;color:#0a93ca}
#breadcrumb ul li.active a{border-color:#ffd6ae;color:#ffae5e}
#upload{background:none;height:45px;line-height:45px;margin:0;padding:0 !important;}
#upload a{background:#f93;border:0 !important;color:#fff !important;display:inline-block;font-size:22px;font-weight:bold;padding:0 24px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
#upload a:before{margin-right:.5em}
#upload a:hover{background-color:#ffa347}
#breadcrumb #upload{float:right !important}
#sidebar #upload{float:none !important;margin:0 -10px 40px 0;text-align:right}
.pagination{font-weight:bold;height:30px;line-height:30px;text-align:center;}
.pagination li,.pagination span,.pagination a{display:inline-block;height:30px;vertical-align:middle}
.pagination li,.pagination span{padding-left:1px;}
.pagination li:first-child,.pagination span:first-child{padding:0}
.pagination li.sep,.pagination span.sep{color:#999;letter-spacing:1px;width:22px}
.pagination a{background:#999;color:#fff;border:0;padding:0 8px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
.pagination a:hover{background-color:#a3a3a3}
.pagination a.prev,.pagination a.next{background:#f93 none no-repeat;}
.pagination a.prev:hover,.pagination a.next:hover{background-color:#ffa347}
.pagination a.prev{background-image:url("images/icon_prev.png");background-position:18% 50%;padding:0 15px 0 40px;border-radius:30px 0 0 30px;-o-border-radius:30px 0 0 30px;-ms-border-radius:30px 0 0 30px;-moz-border-radius:30px 0 0 30px;-webkit-border-radius:30px 0 0 30px;-webkit-background-clip:padding-box}
.pagination a.next{background-image:url("images/icon_next.png");background-position:86% 50%;padding:0 40px 0 15px;border-radius:0 30px 30px 0;-o-border-radius:0 30px 30px 0;-ms-border-radius:0 30px 30px 0;-moz-border-radius:0 30px 30px 0;-webkit-border-radius:0 30px 30px 0;-webkit-background-clip:padding-box}
.pagination a.disabled,.pagination a.disabled:hover{background-color:#ccc;cursor:default}
.pagination a.active{background-color:#00b8f4;cursor:default;font-size:1.2em}
.grid{list-style:none;margin:20px auto 0;padding:0;text-align:center;zoom:1;}
.grid:before,.grid:after{content:"\0020";display:block;height:0;visibility:hidden}
.grid:after{clear:both}
.grid li{display:inline-block;height:188px;margin:15px;width:178px;vertical-align:middle}
.grid a{color:inherit;border:0}
.grid div.img{display:inline-block;}
.grid div.img a,.grid div.img img{display:inline-block;position:relative;vertical-align:middle}
.grid div.img img{border:4px solid #fff;display:inline-block;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
.grid span.icon-zoom{background:rgba(255,153,51,0.8);bottom:4px;color:#fff;font-size:26px;height:36px;line-height:36px;margin:0;opacity:0;position:absolute;right:4px;width:36px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
.grid span.icon-zoom:before{line-height:43px;margin:0}
.grid div.info{color:#333;padding:5px 0 0 0;zoom:1;}
.grid div.info:before,.grid div.info:after{content:"\0020";display:block;height:0;visibility:hidden}
.grid div.info:after{clear:both}
.grid div.info span.photo-name,.grid div.info a.comments{display:inline-block;vertical-align:middle}
.grid a.comments{border-left:1px solid #ccc;color:#f93;font-size:22px;height:18px;margin-left:8px;opacity:0;width:0;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
.grid li:hover .img img{border-color:#ccc}
.grid li:hover span.icon-zoom{opacity:1}
.grid li:hover a.comments{opacity:1;width:35px}
#container{margin:0 auto;position:relative;width:auto}
#content-sidebar-wrap{max-width:1475px;zoom:1;}
#content-sidebar-wrap:before,#content-sidebar-wrap:after{content:"\0020";display:block;height:0;visibility:hidden}
#content-sidebar-wrap:after{clear:both}
#content-sidebar-wrap #content,#content-sidebar-wrap #comments{float:left;padding-left:10px;width:560px}
#content-sidebar-wrap .pagination{padding-top:15px;margin-bottom:10px;text-align:right;}
#content-sidebar-wrap .pagination a{vertical-align:bottom}
#content-sidebar-wrap #sidebar{float:right;padding-right:14px;width:336px;}
#content-sidebar-wrap #sidebar .icon-rss{border:0;color:#fe9832;float:right;font-size:19px;height:22px;width:22px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
#content-sidebar-wrap #sidebar .icon-rss:hover{opacity:.85}
#content-sidebar-wrap #sidebar .grid{list-style:none;margin:0;padding:0;}
#content-sidebar-wrap #sidebar .grid li{float:left;height:75px;margin:0 0 18px 18px;padding:0;position:relative;width:100px;}
#content-sidebar-wrap #sidebar .grid li:nth-child(3n+1){clear:left;margin-left:0}
#content-sidebar-wrap #sidebar .grid a{background:#000;border:0;}
#content-sidebar-wrap #sidebar .grid a:hover img{opacity:.75}
#content-sidebar-wrap #sidebar .grid a,#content-sidebar-wrap #sidebar .grid img{display:block}
#content-sidebar-wrap #sidebar .grid img{transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
#content-sidebar-wrap #sidebar .grid .icon-zoom{background-color:transparent;bottom:auto;height:100%;left:0;right:auto;top:0;width:100%}
.tags{color:#0a92ca}
.info{font-style:italic;color:#999}
.edit-link{border:0;color:#f93}
.widget{margin-bottom:2.5em}
.widget-content{background:#f6f6f6;border:2px solid #e8e8e8;padding:20px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box}
#img-info{background:#008ab7;padding:10px 25px;}
#img-info,#img-info a,#img-info h1{color:#fff}
#img-info h1,#img-info p{margin:0}
#img-info .photo-author{line-height:20px}
#img-info .gravatar{border:0}
#img-info img{height:20px;margin-left:3px;vertical-align:middle;width:20px}
#img-info .photo-info{background:#009ccf;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;bottom:0;padding:10px 10px 10px 15px;position:absolute;right:0;}
#img-info .photo-info > span,#img-info .photo-info > a{border:0;display:inline-block;margin-left:1em;}
#img-info .photo-info > span:first-child,#img-info .photo-info > a:first-child{margin-left:0}
#img-info .photo-info > span:before,#img-info .photo-info > a:before{font-size:1.2em;margin-right:.5em;vertical-align:middle}
#img{background:#333;border-bottom:1px solid #333;border-top:1px solid #333;margin-bottom:25px;overflow:hidden;padding:0 10px;position:relative;text-align:center;}
#img a{border:0}
#img .img{box-shadow:0 0 50px #222;-o-box-shadow:0 0 50px #222;-ms-box-shadow:0 0 50px #222;-moz-box-shadow:0 0 50px #222;-webkit-box-shadow:0 0 50px #222;-webkit-background-clip:padding-box;display:inline-block;position:relative}
#img img{height:auto;max-width:100%;vertical-align:bottom}
#img .icons{bottom:0;position:absolute;right:0;}
#img .icons a{background:rgba(255,153,51,0.8) none no-repeat center center;display:inline-block;height:25px;margin-left:5px;vertical-align:bottom;width:30px}
#img .icons .icon-zoom{color:#fff;font-size:24px;line-height:25px;}
#img .icons .icon-zoom:before{line-height:33px;margin:0}
#img .pagination{height:0;}
#img .pagination a{background:none;color:#ccc;font-family:'IcoMoon';font-size:550%;height:50%;opacity:.25;overflow:hidden;padding:0;position:absolute;top:25%;width:90px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
#img .pagination a:hover{opacity:.5;}
#img .pagination a:hover span{width:80%}
#img .pagination a span{left:0;position:absolute;text-align:center;top:42%;width:100%;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
#img .pagination .prev{left:-105px}
#img .pagination .next{right:-105px;}
#img .pagination .next span{left:auto;right:0}
.img-info p{font-size:1.2em}
.img-info .img-description.no-description{display:none}
#social-bar{background:url("images/social.png") no-repeat;font-size:10px;height:145px;left:-55px;position:absolute;text-align:right;top:55px;width:50px}
#comments{float:none;}
#comments hr{margin-top:15px}
#comments h2{float:left;}
#comments h2:before{margin-right:.5em;vertical-align:bottom}
#leave-comment-link{float:right}
div.comments article{border:1px solid #ddd;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;margin-bottom:1em;padding:1em 1em 0 75px;position:relative}
div.comments .gravatar{float:left;margin-left:-63px;margin-top:-2.25em;}
div.comments .gravatar,div.comments .gravatar img{background:#ddd;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box}
div.comments .gravatar a{border:0;display:inline-block}
div.comments .gravatar img{height:50px;vertical-align:border-top;width:50px}
div.comments .comment-author a,div.comments form a.logout{color:#333;border-color:#999}
div.comments .icon-logout{font-size:.8em;margin-left:2px}
div.comments .comment-date{color:#666;font-size:.9em}
div.comments form{background:#f7f7f7;border:2px solid #fbe3cc;padding:15px 20px 5px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;}
div.comments form input,div.comments form textarea{margin:0}
.logged-in div.comments form textarea{box-sizing:border-box;height:150px;width:100%}
div.comments form label{color:#666;font-weight:normal;line-height:2}
div.comments .col{box-sizing:border-box}
div.comments .col-1{float:left;padding-right:10px;width:40%}
div.comments .col-2{float:right;padding-left:10px;width:60%}
div.comments input,div.comments textarea{box-sizing:border-box;width:100%}
div.comments .buttons{clear:both;text-align:right;}
div.comments .buttons button{float:right;font-size:1.25em}
div.comments .buttons a{line-height:2.5;margin-right:1.2em}
body.single #wrap{padding-top:0}
body.single #img-info .wrap,body.single #content-sidebar-wrap{max-width:1000px}
body.single #content-sidebar-wrap nav.pagination{float:right;margin:0;padding:0}
body.single #sidebar #upload{text-align:center}
body.sizes #breadcrumb{margin-bottom:10px;}
body.sizes #breadcrumb ul{float:right;font-size:1.2em}
body.sizes .img-info{padding:10px 15px}
body.upload #inner{background:#fff url("images/bg_upload.png") no-repeat center bottom}
body.upload #content-sidebar-wrap #content{float:none;margin:40px auto;width:520px;}
body.upload #content-sidebar-wrap #content form p{zoom:1;}
body.upload #content-sidebar-wrap #content form p:before,body.upload #content-sidebar-wrap #content form p:after{content:"\0020";display:block;height:0;visibility:hidden}
body.upload #content-sidebar-wrap #content form p:after{clear:both}
body.upload label{color:#0a92ca;float:left;font-size:1.2em;margin-right:20px;text-align:right;width:95px;}
body.upload label em{color:#999;display:block;font-size:.8em;font-weight:normal}
body.upload input,body.upload textarea{float:left}
body.upload input{width:235px}
body.upload textarea{height:135px;width:380px}
body.upload #upload-placeholder-container,body.upload #upload-file-container{color:#0a92ca;margin-bottom:1em;padding-left:115px;zoom:1;}
body.upload #upload-placeholder-container:before,body.upload #upload-file-container:before,body.upload #upload-placeholder-container:after,body.upload #upload-file-container:after{content:"\0020";display:block;height:0;visibility:hidden}
body.upload #upload-placeholder-container:after,body.upload #upload-file-container:after{clear:both}
body.upload #upload-placeholder-container label,body.upload #upload-file-container label{margin-left:-115px}
body.upload #upload-placeholder-container p,body.upload #upload-file-container p{font-size:1.2em}
body.upload #upload-placeholder{border:2px dashed #f93;color:#999;display:block;font-size:18px !important;padding:45px;text-align:center;width:270px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box}
body.upload #upload-file-container input{float:none}
body.upload .help{background:url("images/icon_help.png") no-repeat;cursor:pointer;display:inline-block;height:18px;margin:5px 0 0 10px;position:relative;overflow:hidden;width:18px;}
body.upload .help:hover{overflow:visible;}
body.upload .help:hover .popup{left:-15px;bottom:25px;opacity:1}
body.upload .help .popup{background:#f93;bottom:-9999px;color:#fff;cursor:default;font-style:italic;font-size:.9em;left:-9999px;opacity:0;padding:5px;position:absolute;width:125px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;-moz-transition-property:opacity;-webkit-transition-property:opacity}
body.upload p.buttons{background:url("images/bg_shadow.png") no-repeat center top;margin:25px 0 0;padding:40px 0 0;text-align:center;}
body.upload p.buttons button{height:45px;font-size:24px;padding:0 25px 0 15px;}
body.upload p.buttons button:before{margin-right:.5em}
