/* L4C.me
	@import 'fonts/stylesheet.css';
*/
a{color:inherit;cursor:pointer;text-decoration:underline;}
a:focus,a:hover,a:active{text-decoration:none}
p{margin:0 0 1em}
label{cursor:pointer;font-weight:bold}
input,textarea{border:3px double #bbb;font:12px/14px "saxMonoRegular","Courier New",Courier,monospace;margin:5px;padding:5px;rgba(102,102,102,0.1)}
input:focus,textarea:focus,input:active,textarea:active{border-color:#ffa500;outline:0}
textarea{bottom:0;left:0;overflow:auto;position:absolute;resize:none;right:0;top:1.5em;}
button{border:3px double #ffa500;color:#fff;cursor:pointer;font-size:12px;font-weight:bold;outline:0;padding:5px 25px;#d98c00#ffae1a}
.ir{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%}
.hidden{display:none;visibility:hidden}
.visuallyhidden{left:-9999px;position:absolute !important;top:-9999px}
.invisible{visibility:hidden}
.noselect{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-moz-user-select:-moz-none}
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after{clear:both}
.clear{display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
.aligncenter{text-align:center}
.alignleft{float:left}
.alignright{float:right}
.alignjustify{text-align:justify}
body{background:#242c33;color:#333;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:0;min-width:1000px;padding:0}
a{text-decoration:none}
hr{background:url("images/bg_hr.png") repeat-x left bottom;border:0;clear:both;margin:25px 0;height:1px;overflow:hidden;width:100%}
.wrap{margin:0 auto;position:relative;min-width:1000px;width:90%}
header{background:#00b8f4;color:#fff;height:60px;}
header #logo{height:49px;left:13px;margin:0;position:absolute;top:5px;width:96px;}
header #logo a{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;text-indent:0}
header #nav-aside{float:right;font-size:1.2em;width:720px;width:75%}
header nav{float:left;height:30px;line-height:30px;padding-top:15px;}
header nav ul.menu{list-style:none;margin:0;padding:0}
header nav ul.menu,header nav ul.menu > li,header nav ul.menu > li > a{float:left;height:30px}
header nav ul.menu > li{margin-right:5px;}
header nav ul.menu > li > a{padding:0 10px;text-decoration:none;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box}
header nav ul.menu > li > a:hover,header nav ul.menu > li.menu-selected > a{background:#0a93ca}
header aside{float:right;padding-top:18px;height:25px;line-height:25px;}
header aside a{text-decoration:none}
header aside a.username{border-bottom:2px solid #80dcfa;}
header aside a.username:hover{border-color:#fff}
header aside a.profile,header aside a.logout{background:none no-repeat 90% 50%;display:inline-block;height:25px;margin:0 3px;padding:0 25px 0 10px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;}
header aside a.profile:after,header aside a.logout:after{content:"|";font-size:16px;color:#37cdff;height:20px;margin-left:8px;overflow:hidden;width:0}
header aside a.profile{background-color:#c2ecfc;background-image:url("images/icon_profile.png");color:#0a93ca}
header aside a.logout{background-color:#0a93ca;background-image:url("images/icon_logout.png");color:#c2ecfc}
footer{background:#242c33;color:#fff;padding:13px;text-align:center;}
footer ul{height:37px;list-style:none;margin:0;padding:0}
footer li{display:inline-block;height:37px;line-height:37px;margin:0 0 0 18px;vertical-align:middle}
footer a{background:none no-repeat left center;display:inline-block;height:16px;line-height:16px;padding-left:20px;text-decoration:none;vertical-align:middle}
footer a:hover{text-decoration:underline}
footer #claborg{margin:0;}
footer #claborg a{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;background-image:url("http://www.cristalab.com/images/general/label-cristalab-org.png");display:inline-block;height:37px;padding:0;width:136px}
footer #cristalab a{background-image:url("http://www.cristalab.com/images/icons/icon-logo.png")}
footer #l4c a{background-image:url("http://www.cristalab.com/images/icons/l4c.png")}
footer #tiaxime a{background-image:url("http://www.cristalab.com/images/icons/tiaxime.png")}
footer #dotgaia a{background-image:url("http://www.cristalab.com/images/icons/dotgaia.png")}
footer #p3 a{background-image:url("http://www.cristalab.com/images/icons/p3.png")}
#inner{background:#fff}
#wrap{padding:15px 0 25px}
#message{background:#ffc68c;border:2px solid #ff9a35;color:#fff;font-size:20px;margin:0 0 25px;padding:10px 45px;position:relative;text-align:center;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box;zoom:1;}
#message:before,#message:after{content:"\0020";display:block;height:0;visibility:hidden}
#message:after{clear:both}
#message a.more{border-bottom:2px solid #fff;margin-left:10px;text-decoration:none}
#message a.close{background-repeat:no-repeat;height:100%;direction:ltr;display:block;overflow:hidden;text-align:left;text-indent:-999em;width:100%;background-image:url("images/icon_message_close.png");height:22px;position:absolute;margin-top:-11px;right:10px;top:50%;width:22px}
#breadcrumb{height:45px;line-height:45px;margin:0 0 25px;}
#breadcrumb h1{color:#0a93ca;float:left;font-size:2em;margin:0 30px 0 0}
#breadcrumb ul{float:left;list-style:none;margin:0;padding:0;zoom:1;}
#breadcrumb ul:before,#breadcrumb ul:after{content:"\0020";display:block;height:0;visibility:hidden}
#breadcrumb ul:after{clear:both}
#breadcrumb ul li{background:url("images/sep_blue.png") no-repeat left center;float:left;padding:0 10px 0 17px;}
#breadcrumb ul li:first-child{background:none;padding-left:10px}
#breadcrumb ul a{color:#0a93ca;border-bottom:2px solid #84c9e4}
#breadcrumb ul a.active{color:#ffae5e;border-color:#ffd6ae}
#breadcrumb #upload{float:right;margin:0;}
#breadcrumb #upload a{background:#f93;color:#fff;display:inline-block;font-size:22px;font-weight:bold;padding:0 24px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-background-clip:padding-box}
.pagination{font-weight:bold;height:30px;line-height:30px;text-align:center;}
.pagination li,.pagination a{display:inline-block;height:30px;vertical-align:middle}
.pagination li{padding-left:1px;}
.pagination li:first-child{padding:0}
.pagination li.sep{color:#999;letter-spacing:1px;width:22px}
.pagination a{background:#999;color:#fff;padding:0 8px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear;}
.pagination a:hover{background-color:#a8a8a8}
.pagination a.prev,.pagination a.next{background:#f93 none no-repeat;}
.pagination a.prev:hover,.pagination a.next:hover{background-color:#ffa852}
.pagination a.prev{background-image:url("images/icon_prev.png");background-position:18% 50%;padding:0 15px 0 40px;border-radius:30px 0 0 30px;-o-border-radius:30px 0 0 30px;-ms-border-radius:30px 0 0 30px;-moz-border-radius:30px 0 0 30px;-webkit-border-radius:30px 0 0 30px;-webkit-background-clip:padding-box}
.pagination a.next{background-image:url("images/icon_next.png");background-position:86% 50%;padding:0 40px 0 15px;border-radius:0 30px 30px 0;-o-border-radius:0 30px 30px 0;-ms-border-radius:0 30px 30px 0;-moz-border-radius:0 30px 30px 0;-webkit-border-radius:0 30px 30px 0;-webkit-background-clip:padding-box}
.pagination a.disabled,.pagination a.disabled:hover{background-color:#ccc;cursor:default}
.pagination a.active{background-color:#00b8f4;cursor:default;font-size:1.2em}
.grid{text-align:center;zoom:1;}
.grid:before,.grid:after{content:"\0020";display:block;height:0;visibility:hidden}
.grid:after{clear:both}
.grid li{display:inline-block;height:220px;margin:20px;width:200px}
.grid span.img{display:inline-block;}
.grid span.img a,.grid span.img img{display:inline-block;position:relative;vertical-align:middle}
.grid span.img img{border:4px solid #fff;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
.grid span.img:hover img{border-color:#ccc}
.grid span.img:hover span.icon{opacity:1}
.grid span.icon{background:rgba(255,153,51,0.8) url("images/icon_zoom.png") no-repeat center;bottom:4px;height:36px;opacity:0;position:absolute;right:4px;width:36px;transition:all .15s linear;-o-transition:all .15s linear;-ms-transition:all .15s linear;-moz-transition:all .15s linear;-webkit-transition:all .15s linear}
.grid span.name{float:left}
.grid span.comments{float:right}
